@model  ZCPT.CrowdSourcing.Web.Models.ServiceProviderModule.CSProductModel

@{
    ViewBag.Title = "发布商品";
    Layout = "~/Views/Shared/_LayoutHFNA.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/adminProductDetail.css">
     
    <script>
        var imgUrl = ucConfig.ServerReferenceFileCenterAPI + '/fileupload/ImgDownload/', ImgSingleUploadUrl = ucConfig.ServerReferenceFileCenterAPI + '/fileupload/ImgSingleUpload/' + ucConfig.ServerApplicationName; 
    </script> 
    <script src="~/Scripts/bower_components/angular/angular.min.js"></script>
    <script src="~/Scripts/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Scripts/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>

    
    <script type="text/javascript">
        // "ui.bootstrap", "ui.bootstrap.tpls", , "ng.ueditor"
        var yob = angular.module('yoB', ['ui.router', 'oc.lazyLoad']);
    </script>
    <script src="~/Scripts/js/app/product.config.js"></script>
    <script src="~/Scripts/js/app/product.service.js"></script>
     

<div class="">
    <div class="page-head"><span>发布商品</span></div>
</div>
<div ui-view></div> 

