@charset "utf-8";
/* 标题，图片，列表 */
.box360 { float: left; overflow: hidden; width: 360px; }
.hotPic { float: left; height: 86px; margin: 5px 12px 0 0; overflow: hidden; position: relative; width: 123px; }
.hotPic .icon_v2 { left: 7px; position: absolute; top: 57px; }
.list03 li { font-size: 14px; line-height: 24px; }
.hotPic .textbg { background: none repeat scroll 0 0 #000000; height: 19px; left: 0; opacity: 0.6; position: absolute; top: 67px; width: 123px; }
.hotPic .text { height: 19px; left: 0; line-height: 19px; position: absolute; text-align: center; top: 67px; width: 123px; color:#fff; }
.hotPic .text a { color: #FFFFFF; }
/**/
.item { float: left; padding: 0 6px 0 15px; width: 309px; }
.item img { border-width: 0; display: inline; float: left; height: 73px; margin-right: 15px; width: 100px; }