#blogSliderWrap {
	background: white;
	width: 285px;
	position: relative;
	overflow: hidden;
}

#blogSlider {
	background: white;
	width: 285px;
	padding: 0;
	margin: 0;
}

.stripNav {
	margin: 0;
	top: 0px;
}