.ui-menu { position: relative; width: 12.5em; padding: .3em; }

.ui-menu-list { position: static; }

.ui-menu .ui-menu-list .ui-menuitem { border: none; }

.ui-menu .ui-menuitem { float: left; clear: both; width: 100%; margin: 1px 0; padding: 0; }

.ui-menu .ui-menuitem-link { font-weight: 400; line-height: 16px; display: block; float: left; width: 92%; padding: .3em; cursor: pointer; text-decoration: none; border: solid 1px transparent; outline: none; }

.ui-menu .ui-menuitem-link .ui-menuitem-icon { display: inline-block; float: left; }

.ui-menu .ui-menuitem-text { float: left; }

.ui-menu .ui-menu-parent { position: relative; }


/** PanelMenu **/

.ui-panelmenu { width: auto; }

.ui-panelmenu .ui-panelmenu-panel { margin: 0; padding: 0; }

.ui-panelmenu .ui-panelmenu-header { position: relative; zoom: 1; margin: 0; cursor: pointer; }

.ui-panelmenu .ui-panelmenu-header a { display: block; padding: .5em .5em .5em 2.2em; }

.ui-panelmenu .ui-panelmenu-header .fa { position: absolute; top: 50%; left: .5em; margin-top: -8px; }

.ui-panelmenu .ui-panelmenu-header .ui-menuitem-icon.fa { left: 1.5em; }

.ui-panelmenu .ui-panelmenu-content { position: relative; top: 1px; overflow: auto; zoom: 1; margin-top: -2px; padding: .2em 0; border-top: 0; outline: none; }

.ui-panelmenu .ui-panelmenu-header.ui-state-disabled,
.ui-panelmenu .ui-panelmenu-header.ui-state-disabled a { cursor: default; }

.ui-panelmenu .ui-menu-list { position: static; }

.ui-panelmenu .ui-menuitem { margin: 1px 0; padding: 0; }

.ui-panelmenu .ui-menuitem-link { font-weight: 400; line-height: 16px; position: relative; display: block; padding: .3em .3em .3em 2em; cursor: pointer; text-decoration: none; border: solid 1px transparent; outline: none; }

.ui-panelmenu .ui-menu-parent .ui-menuitem-link-hasicon,
.ui-panelmenu .ui-panelmenu-header a.ui-panelmenu-headerlink-hasicon { padding-left: 2.8em; }

.ui-panelmenu .fa { position: absolute; top: 4px; right: auto; bottom: 0; left: .5em; margin: auto 0; }

.ui-panelmenu .ui-menu-parent > .ui-menuitem-link > .fa { left: 1.5em; }

.ui-panelmenu .ui-menu-parent .ui-panelmenu-icon.fa { left: .5em; }

.ui-panelmenu .ui-menuitem-text { float: none; }

.ui-panelmenu .ui-menu-parent .ui-menu-list { margin-left: 20px; }
