body{
	background-color: #000; color:#FFFFFF;
}
a{ color:#FFCC00;}
ul{
	list-style: none;
	font-family: Arial, sans-serif;
  	font-size: 11px;
	margin: 0;
	padding: 0;
}

ul li{
	float: left;
	padding: 10px;	
	display: block;
	margin-right: 10px;	
	color: #f0cdcd;
	background: transparent url(../images/bg.gif) repeat-x;	
}

ul li p strong{
	color: #fff;
	font-size: 13px;
	font-family: Georgia;
}

ul li a{	
	display: block;	
	overflow: hidden;
	height: 75px;
	width: 75px;
	cursor: pointer;	
}

#a1{
	width: 210px;
}

ul li img{	
	z-index: 100;
	position: absolute;
	border: 3px solid #881212;	
}

ul li p{	
	margin: 0;
	padding: 0;
	width: 120px;
	display: block;
	margin-left: 85px;	
}