.select{
		float:left;
		padding:20px;
		}

/*------------------ selectDark -----------------*/

.selectDark{
		background: url("images/darkBackground.jpg") no-repeat top left;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		}

.selectDark .passiveSelect,.selectDark .activeSelect{
		height:25px;
		line-height:2em;
		display:block;
		cursor:pointer;	
		padding-left:10px;
		margin-right:10px;
		}
		
.selectDark .passiveSelect{
		background:url("images/darkNormal.jpg") no-repeat top right;
		color:#fff;
		}
		
.selectDark .activeSelect{
		background:url("images/darkActive.jpg") no-repeat top right;
		color:#00aeef;
		}
		
.selectDark ul{
		padding:0;
		margin:0;
		background:#525252;
		list-style:none;
		max-height:200px;
		overflow-x: hidden;
		overflow-y: auto;
		cursor:pointer;	
		width:203px;
		}
		
.selectDark li{
		padding:0;
		margin:0;
		font-weight:normal;
		padding:2px 0 2px 12px;
		color:#aeaeae;
		}
		
.selectDark .first{
		padding-top:10px;
		background:url("images/darkFirst.jpg") no-repeat top left;
		}
		
.selectDark .last{
		padding-bottom:10px;
		background:url("images/darkLast.jpg") no-repeat bottom left;
		}
		
.selectDark li:hover{
		color:#00aeef;
		}
		
.selectDark .selected{
		color:#fff;
		}
		
/*------------------ selectFruits -----------------*/

.selectFruits{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		background:url("images/fruitsBackground.jpg") repeat-x top right;
		height:27px;
		width:160px;
		}

.selectFruits .passiveSelect,.selectFruits .activeSelect{
		height:25px;
		line-height:2.4em;
		display:block;
		cursor:pointer;	
		padding-left:10px;
		margin-right:6px;
		color:#fff;
		font-weight:bold;
		background:url("images/fruitsNormal.jpg") no-repeat top right;
		}
		
.selectFruits .activeSelect{
		color:#86c729;
		background:url("images/fruitsSelected.jpg") no-repeat top right;
		}
		
.selectFruits ul{
		padding:0;
		margin:0;
		list-style:none;
		max-height:350px;
		overflow-x: hidden;
		overflow-y: auto;
		cursor:pointer;
		width:350px;
		padding:3px;
		background:#5a5a5a url("images/fruitsBackground2.jpg") repeat-x top right;
		}
		
.selectFruits li{
		padding:0;
		margin:0;
		width:110px;
		color:#fff;
		display:block;
		float:left;
		padding:3px;
		}
	
.selectFruits  .special{
		font-weight:bold;
		}
		
.selectFruits .selected,.selectFruits li:hover{
		color:#86c729;
		}