@charset "utf-8";
/* CSS Document */

.selffocus      { height:330px; margin-top:11px; width:1000px; position:relative; background-color:#e7e6e6; }
.selffocus-list { width:1000px; height:330px; overflow:hidden; position:relative; }
.selffocus-list li.focus-item   { position:absolute; top:0; left:0; }
.selffocus-list li.curr         { display:block; }

.selffocus-img          { width:690px; float:left; }
.selffocus-img a img    { border:none }
.selffocus-img a:hover img { border:none }

.selffocus-cont         { float:left; width:310px; height:330px; }
.selffocus-title        { font-size:16px; height:30px; line-height:30px; color:#0f0f0f; margin-top:25px; width:270px; margin:16px 0px 12px 20px;  border-bottom:1px solid #bebdbd; padding-bottom:2px; font-weight:bold; background-color: #E7E6E6;}

.selffocus-content      { margin-left:20px; width:270px;display:block; font-size:12px; line-height:20px; color:#0f0f0f; }
.selffocus-content p    { height:60px; overflow:hidden; background-color: #E7E6E6;}

.selffocus-content li   { line-height:26px; padding-left:20px; font-size:14px; background: url(indexfocus-icons.png) 4px 10px no-repeat; background-color: #E7E6E6;}
.selffocus-content li.blue  { background-position:0 8px;}
.selffocus-content li.red   { background-position:0 -17px;}
.selffocus-content li.yellow{ background-position:0 -44px;}
.selffocus-content li.green {background-position:0 -70px;}
.selffocus-content li.blue2 {background-position:0 -96px;}
.selffocus-content ul       { padding-top:12px; height:130px; overflow:hidden; }
.selffocus-trigger          { position: absolute; right:17px; bottom:22px; height:25px; }
.selffocus-trigger a        { text-decoration:none; color: #838282; display:inline-block; background: url(focus-icons.png) 0px -52px no-repeat; width:25px; height:25px; line-height:25px; text-align:center }
.selffocus-trigger a.active { background-position:0px -17px; color: #fff; }
.selffocus-trigger a:hover  {text-decoration:none; color: #838282;}
/***********************************************焦点图end***********************************************************/
