## ★★★★★★★★★★★★★★★★★★★★ 获取页面数据 ★★★★★★★★★★★★★★★★★★★★
########################### 本文件注意不插入空行，否则会产生很多空行，可以多用注释分隔 #################################
## 后期封装按频道归类：创意园、高校、画院、社团、摄影师、设计师、画家、书法家
## parse("common/siteweb/CYY.vm") parse("common/siteweb/GX.vm") ...

##当前节点与父节点数据
#set($current_node = $Node.CurrentNode)
#set($node_code = $current_node.NodeCode)
#set($parent_node = $Node.GetParentNodeDataByNodeCode($node_code))
#set($parent_node_code = $parent_node.NodeCode)
#set($raw_url = $OydRequest.GetRawUrl())
##获取页面类型
##页面名称，含".shtml"
#set($page_name=$OydRequest.GetPageName())
#set($page_names=$Utils.ReplaceString($page_name, ".shtml", "", false))
#set($page_name_parts=$Utils.SplitString($page_names, "-"))
#if($page_name_parts.Count>0)
##当前页面类型$page_type（index页,list页, info页）
	#set($page_type=$page_name_parts.get_item(0))
#end
#set($page_meta_keywords="")
#set($page_meta_description="")
#if(!$pageCode)
	#set($pageCode="org_index")
#end
#if($pageCode=="org_index")
	#set($page_title="艺术机构频道_图说天下")
#elseif($pageCode=="org_list")
	#set($page_title="${Node.CurrentNode.NodeTitle}_艺术机构_图说天下")
#end
############### artnews网站各模型排序 #################
#set($order_recommend = "TopFlag desc, FOrder desc")## 推荐模型的排序
#set($order_news = "TopFlag desc, CreateTime desc")## 新闻模型的排序
#set($order_show = "TopFlag desc,FOrder desc")## 展览模型的排序
#set($order_orgin = "TopFlag desc,FOrder desc")## 机构模型排序
############################## new ######################################
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取$Tag(取参数STags)
#set($STags=$OydRequest.GetQueryString("STags"))
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 页面标题，关键字和描述
## >>> 摄影资讯
#if($node_code=="PhotographyNews" || $parent_node_code == "PhotographyNews")
	#set($page_title="摄影资讯-图说天下")
	#set($page_meta_keywords = "摄影,摄影资讯,摄影师,摄影活动,摄影大赛,摄影展,器材,相机")
	#set($page_meta_description = "图说天下摄影资讯频道主要致力于提供最新摄影资讯，洞察艺术市场最新动态，包括：摄影大赛、摄影活动、摄影展览、摄影创作、摄影师访谈、海外摄影、摄影器材、摄影技巧等。最新、权威摄影资讯尽在图说天下摄影资讯频道。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#end
#end
## >>> 美术资讯
#if($node_code=="ArtNews" || $parent_node_code == "ArtNews")
	#set($page_title="美术资讯-图说天下")
	#set($page_meta_keywords = "美术,艺术,绘画,书法,画家,书法家,展览,收藏,拍卖,艺术市场,海外书画")
	#set($page_meta_description = "图说天下摄影资讯频道主要致力于提供最新美术资讯，洞察艺术市场最新动态，包括：美术展览、艺术评论、艺术教育、艺术传播、艺术品拍卖、艺术品收藏、艺术市场、艺术访谈等。最新、权威美术资讯，艺术市场最新动态尽在图说天下美术资讯频道。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#end
#end
## >>> 画家
#if($node_code=="Hpainter" || $parent_node_code == "Hpainter")
	#set($page_title="画家-图说天下")
	#set($page_meta_keywords = "画家,艺术名家,绘画,展览,收藏,拍卖,艺术市场,国画,油画,版画,雕塑,篆刻,名家名作")
	#set($page_meta_description = "图说天下画家频道隶属于名家频道，主要致力于为画家提供在线美术馆、个人主页的网上艺术社区，包括：艺术简历、艺术动态、在线画廊、获奖荣誉、艺术思想、艺术评论、艺术访谈、艺术传播、艺术商情等，为画家、绘画爱好者提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "Hpainter" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 书法家
#if($node_code=="Spenman" || $parent_node_code == "Spenman")
	#set($page_title="书法家-图说天下")
	#set($page_meta_keywords = "书法家,艺术名家,书法,展览,收藏,拍卖,艺术市场,行书,楷书,行楷,草书,名家名作")
	#set($page_meta_description = "图说天下书法家频道隶属于名家频道，主要致力于为书法家提供在线美术馆、个人主页的网上艺术社区，包括：艺术简历、艺术动态、在线画廊、获奖荣誉、艺术思想、艺术评论、艺术访谈、艺术传播、艺术商情等，为书法家、书法爱好者提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "Spenman" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 摄影师
#if($node_code=="clsys" || $parent_node_code == "clsys")
	#set($page_title="摄影师-图说天下")
	#set($page_meta_keywords = "摄影师,摄影,摄影比赛,风光摄影,纪实摄影")
	#set($page_meta_description = "打造网上摄影师艺术社区、摄影在线艺术馆、摄影艺术电子商务平台，打造透明、公平、公正的文化艺术综合服务平台，成为摄影师及摄影爱好者网上的交互平台和精神嘉园。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
		#set($page_meta_keywords = "图说天下,摄影,绘画,书法,动漫,设计,图片,名人,个人,作品,商城,器材,画册,画廊,博客,主页,论坛,资讯,技术,专业,教程,展览,人体,美女,彩绘,婚纱,艺术,图库,最新热点")
		#set($page_meta_description = "图说天下网站的内容涵盖摄影、书画、动漫、设计、工艺品等。图说天下给艺术家提供功能卓越、视觉效果独特的个人主页（博客、画廊）服务，图说天下以“图”为特色，以视觉艺术的形式报道大千世界，开创了网络媒体的新时代。")
	#*elseif($page_type=="info")
		#set($infoData = $Content.GetData2($node_code, $ObjectID))
		#set($page_title=$infoData.Title)
		#set($keywords=$infoData.Keywords)
		#set($page_meta_keywords = $keywords)
		#set($page_meta_description = "${page_title}-${page_meta_keywords}")*#
	#end
#end
## >>> 设计师
#if($node_code=="clsjs" || $parent_node_code == "clsjs")
	#set($page_title="设计师-图说天下")
	#set($page_meta_keywords = "图说天下,摄影,绘画,书法,动漫,设计,图片,名人,个人,作品,商城,器材,画册,画廊,博客,主页,论坛,资讯,技术,专业,教程,展览,人体,美女,彩绘,婚纱,艺术,图库,最新热点")
	#set($page_meta_description = "图说天下网站的内容涵盖摄影、书画、动漫、设计、工艺品等。图说天下给艺术家提供功能卓越、视觉效果独特的个人主页（博客、画廊）服务，图说天下以“图”为特色，以视觉艺术的形式报道大千世界，开创了网络媒体的新时代。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
		#set($page_meta_keywords = "图说天下,摄影,绘画,书法,动漫,设计,图片,名人,个人,作品,商城,器材,画册,画廊,博客,主页,论坛,资讯,技术,专业,教程,展览,人体,美女,彩绘,婚纱,艺术,图库,最新热点")
		#set($page_meta_description = "图说天下网站的内容涵盖摄影、书画、动漫、设计、工艺品等。图说天下给艺术家提供功能卓越、视觉效果独特的个人主页（博客、画廊）服务，图说天下以“图”为特色，以视觉艺术的形式报道大千世界，开创了网络媒体的新时代。")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")
		#set($page_meta_keywords = "图说天下,摄影,绘画,书法,动漫,设计,图片,名人,个人,作品,商城,器材,画册,画廊,博客,主页,论坛,资讯,技术,专业,教程,展览,人体,美女,彩绘,婚纱,艺术,图库,最新热点")
		#set($page_meta_description = "图说天下网站的内容涵盖摄影、书画、动漫、设计、工艺品等。图说天下给艺术家提供功能卓越、视觉效果独特的个人主页（博客、画廊）服务，图说天下以“图”为特色，以视觉艺术的形式报道大千世界，开创了网络媒体的新时代。")*#
	#end
#end
## >>> 机构首页
#if($node_code=="Orgin" || $parent_node_code == "Orgin")
	#set($page_title="机构-图说天下")
	#set($page_meta_keywords = "艺术机构,画廊,美术馆,画院,博物馆,协会,艺术区,拍卖,展览,美术学院,名家名作")
	#set($page_meta_description = "图说天下机构频道主要致力于为各类艺术机构提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、机构名家、在线展厅、机构全景、展览活动、机构评论、艺术教育等等，为画廊、美术馆、画院、博物馆、协会、艺术区、拍卖行、美术学院等艺术机构提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "Orgin" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 特定机构主页
#if($node_code=="Agency" || $parent_node_code == "Agency")
	#set($org_title = "")
	#set($orgtag = $Utils.StrToInt($STags, 0))
	#set($artdep=$Content.GetData2("ArtDep",$orgtag))
	#set($org_title = $artdep.Title)
	#set($page_title="${org_title}-机构-图说天下")
	#set($page_meta_keywords = $page_title)
	#set($page_meta_description = "图说天下机构频道主要致力于为各类艺术机构提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、机构名家、在线展厅、机构全景、展览活动、机构评论、艺术教育等等，为画廊、美术馆、画院、博物馆、协会、艺术区、拍卖行、美术学院等艺术机构提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#elseif($page_type=="info")
		#set($org_url = "")
		#if($page_name_parts.Count > 1)
			#set($Tag = $page_name_parts.get_item(1))
			#set($Tag = $Utils.StrToInt($Tag, 0))
			#set($current_news = $Content.GetData2("$node_code", $Tag))
			#set($query_id = $Utils.StrToInt("$current_news.ObjectTags", 0))
			#set($artdep=$Content.GetData2("ArtDep",$query_id))
			#set($org_title = $artdep.Title)
			#set($org_id = ${artdep.ObjectID})
			#set($org_url="/Agency/index.shtml?STags=${org_id}&mode=${artdep.TemNumber}")
		#end
	#elseif($parent_node_code == "Agency" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 特定机构详细页
#if($node_code=="ArtDep" && $page_type=="info")
	#set($org_url = "")
	#if($page_name_parts.Count > 1)
		#set($Tag = $page_name_parts.get_item(1))
		#set($Tag = $Utils.StrToInt($Tag, 0))
		#set($current_org = $Content.GetData2("$node_code", $Tag))
		#set($org_title = $current_org.Title)
		#set($org_id = ${current_org.ObjectID})
		#set($org_url="/Agency/index.shtml?STags=${org_id}&mode=${current_org.TemNumber}")
	#end
#end
## >>> 画院
#if($node_code=="huayuan" || $parent_node_code == "huayuan")
	#set($page_title="画院-图说天下")
	#set($page_meta_keywords = "画院,书画院,作品展,展览,画家,画展,培训")
	#set($page_meta_description = "图说天下画院频道主要致力于为各地画院提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、机构名家、在线展厅、机构全景、展览活动、艺术教育等等，为画院提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "huayuan" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 高校
#if($node_code=="College" || $parent_node_code == "College")
	#set($page_title="高校-图说天下")
	#set($page_meta_keywords = "高校,美院,美术学院,艺术学院,展览,画家,画展,培训")
	#set($page_meta_description = "图说天下画院频道主要致力于为各地高校美术学院、艺术学院提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、人物聚焦、在线展厅、教育培训、展览活动、海外视角等等，为美术院校提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "College" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 高校
#if($node_code=="College" || $parent_node_code == "College")
	#set($page_title="高校-图说天下")
	#set($page_meta_keywords = "高校,美院,美术学院,艺术学院,展览,画家,画展,培训")
	#set($page_meta_description = "图说天下画院频道主要致力于为各地高校美术学院、艺术学院提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、人物聚焦、在线展厅、教育培训、展览活动、海外视角等等，为美术院校提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "College" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 社团
#if($node_code=="Societies" || $parent_node_code == "Societies")
	#set($page_title="社团-图说天下")
	#set($page_meta_keywords = "社团,协会,美术协会,书法家协会,油画协会,摄影家协会,收藏家协会,展览,教育")
	#set($page_meta_description = "图说天下社团频道主要致力于为各类社团组织提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、机构名家、在线展厅、机构精神、展览活动等等，为美术协会、书法家协会、油画协会、摄影家协会、收藏家协会等社团提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "Societies" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
## >>> 创意园
#if($node_code=="creativePark" || $parent_node_code == "creativePark")
	#set($page_title="创意园-图说天下")
	#set($page_meta_keywords = "创意园,艺术区,艺术群落,艺术基地,展览,教育")
	#set($page_meta_description = "图说天下创意园频道主要致力于为各类艺术区、艺术群落提供在线展厅形式的网上艺术社区，包括：机构简介、机构动态、机构名家、在线展厅、机构评论、展览活动、机构全景等等，为各类艺术区、创意园提供以网上艺术社区、在线艺术馆、艺术电子商务为基础的综合性艺术服务平台。")
	#if($page_type=="list")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#*elseif($page_type=="info")
		#set($page_title="${current_node.NodeTitle}-$page_title")*#
	#elseif($parent_node_code == "creativePark" && $page_type=="index")
		#set($page_title="${current_node.NodeTitle}-$page_title")
	#end
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 机构主页数据
#if($node_code == "Orgin")
## 每日推荐
#set($jg_mrtj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'DayElect\' ',orderBy='$order_recommend',recordCount='8'}"))
## 近期展览
#set($jg_jqzl_index = $Content.GetDataList("ArtShow","%{fields='zglj,zllj,showtime,showaddress ,showname,samllpic ,bigpic  ',orderBy='$order_show',recordCount='3'}"))
## 机构资讯
#set($jg_jgzx_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'OrginZX1\'',orderBy='$order_recommend',recordCount='9'}"))
## 机构动态
#set($jg_jgdt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'OrginNews1\'',orderBy='$order_recommend',recordCount='5'}"))
## 最新入驻
#set($jg_zxrz_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea ,HAssort,TemNumber ',orderBy='$order_orgin',recordCount='8'}"))
## 业态关注
#set($jg_ytgz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'ytgz1\'',orderBy='$order_recommend',recordCount='4'}"))
## 机构人物
#set($jg_jgrw_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'OrginPerson1\' ',recordCount='1'}"))
## 全景展示
#set($jg_qjzs_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'AShow1\'',orderBy='$order_recommend',recordCount='5'}"))
## 机构招聘
#set($jg_jgzp_index = $Content.GetDataList("ORecruit","%{fields='urlrewrite',orderBy='$order_news',recordCount='10'}"))
## 地区
#set($jg_dq_bj_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%北京%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_sh_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%上海%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_gd_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%广东%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_tj_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%天津%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_sd_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%山东%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_zj_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%浙江%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_ln_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%辽宁%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_js_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%江苏%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_sc_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%四川%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_sx_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%陕西%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_gs_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%甘肃%\'',orderBy='$order_orgin', recordCount='26'}"))
#set($jg_dq_qt_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HArea,TemNumber',where = 'HArea like \'%其他%\'',orderBy='$order_orgin', recordCount='26'}"))
## 艺术群落
#set($jg_ysql_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'ysql1\' ',recordCount='16'}"))
## 分类
#set($jg_fl_msg_index =$Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%美术馆%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_bwg_index =$Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%博物馆%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_xh_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%协会%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_hy_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%画院%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_pmh_index =$Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%拍卖机构%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_yx_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%院校%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_hl_index = $Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%画廊%\'',orderBy='$order_orgin', recordCount='33'}"))
#set($jg_fl_qt_index=  $Content.GetDataList("ArtDep","%{fields='ImageUrl,HAssort,TemNumber',where = HAssort like \'%其他%\'',orderBy='$order_orgin', recordCount='33'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取摄影师主页数据
#if($node_code=="clsys")
## 佳作聚焦$sys_jzjj_index
#set($sys_jzjj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'syjz\'',orderBy='$order_recommend', recordCount='6'}"))
## 本期人物$sys_bqrw_index
#set($sys_bqrw_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'syrw\'',orderBy='$order_recommend', recordCount='1'}"))
## 最新入驻$sys_zxrz_index
#set($sys_zxrz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'syrz\'',orderBy='$order_recommend', recordCount='8'}"))
## FOTOSAY名家$sys_mj_index
#set($sys_mj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'symj\'',orderBy='$order_recommend', recordCount='12'}"))
## 动态追踪$sys_dtzz_index
#set($sys_dtzz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sydt\'',orderBy='$order_recommend', recordCount='10'}"))
## 名师对话$sys_msdh_index
#set($sys_msdh_index = $Content.GetDataList("sydh","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='5'}"))
## 摄影新锐$sys_syxr_index
#set($sys_syxr_index = $Content.GetDataList("syxr","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='5'}"))
## 名作品评$sys_mzpp_index
#set($sys_mzpp_index = $Content.GetDataList("sypp","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='9'}"))
## 摄影论坛$sys_sylt_index
#set($sys_sylt_index = $Content.GetDataList("sylt","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='6'}"))
## 讲 座$sys_jz_index
#set($sys_jz_index = $Content.GetDataList("syLecture","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite,Site'',orderBy='$order_news',recordCount='4'}"))
## 专 题$sys_zt_index
#set($sys_zt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'syzt\'',orderBy='$order_recommend', recordCount='1'}"))
## 课 程$sys_kc_index
#set($sys_kc_index = $Content.GetDataList("sykc","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='4'}"))
## 图 书$sys_ts_index
#set($sys_ts_index = $Content.GetDataList("syts","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='3'}"))
## 风 格$sys_fg_index
#set($sys_fg_index_fg=$Content.GetDataList("syfg","%{where='ObjectTags=\'风光\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='41'}"))
#set($sys_fg_index_rx=$Content.GetDataList("syfg","%{where='ObjectTags=\'人像\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='41'}"))
#set($sys_fg_index_js=$Content.GetDataList("syfg","%{where='ObjectTags=\'纪实\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='41'}"))
#set($sys_fg_index_st=$Content.GetDataList("syfg","%{where='ObjectTags=\'生态\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='41'}"))
#set($sys_fg_index_qt=$Content.GetDataList("syfg","%{where='ObjectTags=\'其他\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='41'}"))
## 摄影师主题活动$sys_zthd_index
#set($sys_zthd_index = $Content.GetDataList("syzthd","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='10'}"))
## 地 区$sys_dq_index
#set($sys_dq_index_bj=$Content.GetDataList("sydq","%{where='ObjectTags=\'北京\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_sh=$Content.GetDataList("sydq","%{where='ObjectTags=\'上海\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_tj=$Content.GetDataList("sydq","%{where='ObjectTags=\'天津\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_gz=$Content.GetDataList("sydq","%{where='ObjectTags=\'广州\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_sz=$Content.GetDataList("sydq","%{where='ObjectTags=\'深圳\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_wh=$Content.GetDataList("sydq","%{where='ObjectTags=\'武汉\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_zj=$Content.GetDataList("sydq","%{where='ObjectTags=\'浙江\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_sc=$Content.GetDataList("sydq","%{where='ObjectTags=\'四川\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_ah=$Content.GetDataList("sydq","%{where='ObjectTags=\'安徽\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_jx=$Content.GetDataList("sydq","%{where='ObjectTags=\'江西\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_ga=$Content.GetDataList("sydq","%{where='ObjectTags=\'港澳\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_dq_index_hw=$Content.GetDataList("sydq","%{where='ObjectTags=\'海外\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
## 机 构$sys_jg_index
#set($sys_jg_index_syj=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国摄影家协会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_jg_index_xwsy=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国新闻摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_jg_index_yssy=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国艺术摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_jg_index_nxsy=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国女性摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
#set($sys_jg_index_qt=$Content.GetDataList("syjg","%{where='ObjectTags=\'其他\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news',recordCount='36'}"))
## 摄影节入选名单$sys_rxmd_index
#set($sys_rxmd_index = $Content.GetDataList("symd","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='6'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取设计师主页数据
#if($node_code=="clsjs")
## 佳作聚焦$sjs_jzjj_index
#set($sjs_jzjj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjjz\'',orderBy='$order_recommend', recordCount='6'}"))
## 本期人物$sjs_bqrw_index
#set($sjs_bqrw_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjrw\'',orderBy='$order_recommend', recordCount='1'}"))
## 最新入驻$sjs_zxrz_index
#set($sjs_zxrz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjrz\'',orderBy='$order_recommend', recordCount='8'}"))
## FOTOSAY名家$sjs_mj_index
#set($sjs_mj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_pm = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'平面设计\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_hy = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'环艺设计\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_gy = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'工业设计\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_fz = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'服装设计\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_cg = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'CG插画设计\'',orderBy='$order_recommend', recordCount='12'}"))
#set($sjs_mj_index_ui = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'网页UI设计\'',orderBy='$order_recommend', recordCount='12'}"))
##
## 动态追踪$sjs_dtzz_index
#set($sjs_dtzz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjdt\'',orderBy='$order_recommend', recordCount='10'}"))
## 名师对话$sjs_msdh_index
#set($sjs_msdh_index = $Content.GetDataList("sjdh","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='5'}"))
## 设计新锐$sjs_sjxr_index
#set($sjs_sjxr_index = $Content.GetDataList("sjxr","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='5'}"))
## 名作品评$sjs_mzpp_index
#set($sjs_mzpp_index = $Content.GetDataList("sjpp","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='9'}"))
## 设计论坛$sjs_sjlt_index
#set($sjs_sjlt_index = $Content.GetDataList("sjlt","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='6'}"))
## 讲 座$sjs_jz_index
#set($sjs_jz_index = $Content.GetDataList("sjLecture","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite,Site'',orderBy='$order_news',recordCount='4'}"))
## 专 题$sjs_zt_index
#set($sjs_zt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjzt\'',orderBy='$order_recommend', recordCount='1'}"))
## 课 程$sjs_kc_index
#set($sjs_kc_index = $Content.GetDataList("sjkc","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='4'}"))
## 图 书$sjs_ts_index
#set($sjs_ts_index = $Content.GetDataList("sjts","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='3'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取创意园主页数据
#if($node_code=="creativePark")
##本期推荐
#set( $bqtj=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPbqtj\'',orderBy='$order_recommend',recordCount='8'}"))
##机构动态
#set( $jgdt=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPjgdt\'',orderBy='$order_recommend',recordCount='3'}"))
##业界关注 图和文章
#set( $yjgzP=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPyjgz\' ',orderBy='$order_recommend',recordCount='1'}"))
#if($yjgzP.Count>0)
	#set($yjgP=$yjgzP.get_item(0))
#end
##人物聚焦
#set( $rwjj=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPrwjj\' ',orderBy='$order_recommend',recordCount='1'}"))
##在线展厅
#set( $zxzt=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPzxzt\' ',orderBy='$order_recommend'}"))
##展览活动
#set( $zlhd=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPzlhd\' ',orderBy='$order_recommend',recordCount='3'}"))
##教育培训
#set( $jypx=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPjypx\'',orderBy='$order_recommend',recordCount='8'}"))
##海外视角 图和文章
#set($hwsjD=0)
#set($hwsj1P=$Content.GetDataList("CPhwsj1","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite',orderBy='$order_news',recordCount='1'}"))
#if($hwsj1P.Count>0)
	#set($hwsj1Temp=$hwsj1P.get_item(0))
	#set($hwsjD=${hwsj1Temp.ObjectID})
#end
#set($hwsj1L=$Content.GetDataList("CPhwsj1","%{fields='ObjectSummary,urlrewrite',where =' ObjectID != $hwsjD',orderBy='$order_news',recordCount='8'}"))
##热门机构
#set($rmjg=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CPrmjg\'',orderBy='$order_recommend',recordCount='11'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取高校主页数据
#if($node_code=="College")
##本期推荐
#set( $bqtj=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLbqtj\'',orderBy='$order_recommend',recordCount='8'}"))
##机构动态
#set( $jgdt=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLjgdt\' ',orderBy='$order_recommend',recordCount='3'}"))
##业界关注 图和文章
#set( $yjgzP=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLyjgz\'  ',orderBy='$order_recommend',recordCount='1'}"))
#if($yjgzP.Count>0)
#set($yjgP=$yjgzP.get_item(0))
#end
##人物聚焦
#set( $rwjj=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLrwjj\'  ',orderBy='$order_recommend',recordCount='1'}"))
#if($rwjj.Count>0)
	#set($rwjj=$rwjj.get_item(0))
#end
##在线展厅
#set( $zxzt=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLzxzt\'  ',orderBy='$order_recommend'}"))
##展览活动
#set( $zlhd=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLzlhd\'  ',orderBy='$order_recommend',recordCount='3'}"))
##教育培训
#set( $jypx=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLjypx\'',recordCount='8'}"))
##海外视角 图和文章
#set($hwsjD=0)
#set($hwsj1P=$Content.GetDataList("CLhwsj1","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite',orderBy='$order_news',recordCount='1'}"))
#if($hwsj1P.Count>0)
	#set($hwsj1Temp=$hwsj1P.get_item(0))
	#set($hwsjD=${hwsj1Temp.ObjectID})
#end
#set($hwsj1L=$Content.GetDataList("CLhwsj1","%{fields='ObjectSummary,urlrewrite',where =' ObjectID != $hwsjD',orderBy='$order_news',recordCount='8'}"))
##热门机构
#set($rmjg=$Content.GetRecommendDataList("%{where = 'NodeCode=\'CLrmjg\'',orderBy='$order_recommend',recordCount='11'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取画院主页数据
#if($node_code=="huayuan")
## 本期推荐
#set($HY_bqtj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYbqtj\'',orderBy='$order_recommend', recordCount='8'}"))
## 机构动态
#set($HY_jgdt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYjgdt\'',orderBy='$order_recommend', recordCount='3'}"))
## 人物聚焦
#set($HY_gj_key = 5080)
#set($HY_bj_key = 5096)
#set($HY_zj_key = 5264)
#set($HY_gs_key = 5122)
#set($HY_qt_key = "qita")
## 中国国家画院推荐列表
#set($HY_rwjj_gj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Hyrwjj1\' and NickName=\'$gj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 北京画院推荐列表
#set($HY_rwjj_bj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Hyrwjj1\' and NickName=\'$bj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 浙江画院推荐列表
#set($HY_rwjj_zj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Hyrwjj1\' and NickName=\'$zj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 甘肃画院推荐列表
#set($HY_rwjj_gs = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Hyrwjj1\' and NickName=\'$gs_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 其他画院推荐列表
#set($HY_rwjj_qt = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Hyrwjj1\' and NickName not in(\'$gj_key\', \'$bj_key\', \'$zj_key\', \'$gs_key\')',orderBy='$order_recommend', recordCount='18'}"))
## 在线展厅
#set($HY_zxzt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYzxzt\'',orderBy='$order_recommend', recordCount='5'}"))
## 教育培训
#set($HY_jypx_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYjxpx\'',orderBy='$order_recommend', recordCount='8'}"))
## 展览活动
#set($HY_zlhd_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYzlhd\'',orderBy='$order_recommend', recordCount='3'}"))
## 海外视角  
#set($hwsjR = $Content.GetDataList("HYhwsj","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='7'}"))
## 热门机构
#set($HY_rmjg_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'HYrmjg1\'',orderBy='$order_recommend', recordCount='10'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取社团主页数据
#if($node_code=="Societies")
## 本期推荐
#set($ST_bqtj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCbqtj\'',orderBy='$order_recommend', recordCount='8'}"))
## 机构动态
#set($ST_jgdt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCjgdt\'',orderBy='$order_recommend', recordCount='3'}"))
## 人物聚焦
#set($ST_msj_key = 5095)
#set($ST_sfj_key = 5064)
#set($ST_yh_key = 5070)
#set($ST_syj_key = "中国摄影家协会id")
#set($ST_scj_key = 5109)
#set($ST_qt_key = "qita")
## 中国美术家协会推荐列表
#set($ST_rwjj_msj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName=\'$ST_msj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 中国书法家协会推荐列表
#set($ST_rwjj_sfj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName=\'$ST_sfj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 中国油画协会推荐列表
#set($ST_rwjj_yh = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName=\'$ST_yh_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 中国摄影家协会推荐列表
#set($ST_rwjj_syj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName=\'$ST_syj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 中国收藏家协会推荐列表
#set($ST_rwjj_scj = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName=\'$ST_scj_key\'',orderBy='$order_recommend', recordCount='18'}"))
## 其他协会推荐列表
#set($ST_rwjj_qt = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrwjj\' and NickName not in(\'$ST_msj_key\', \'$ST_sfj_key\', \'syjid\', \'$ST_yh_key\', \'$ST_scj_key\')',orderBy='$order_recommend', recordCount='18'}"))
## 在线展厅
#set($ST_zxzt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCzxzt\'',orderBy='$order_recommend', recordCount='5'}"))
## 艺术评论
#set($ST_yspl_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCyspl\'',orderBy='$order_recommend', recordCount='8'}"))
## 展览活动
#set($ST_zlhd_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCzlhd\'',orderBy='$order_recommend', recordCount='3'}"))
## 海外视角
#set($ST_hwsj_index = $Content.GetDataList("SChwsj1","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='7'}"))
## 热门机构
#set($ST_rmjg_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'SCrmjg\'',orderBy='$order_recommend', recordCount='10'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取画家主页数据
#if($node_code=="Hpainter")
## 名家名作
#set($HJ_mjmz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Masterpieces\' ',orderBy='$order_recommend',recordCount='12'}"))
##本期人物
#set($HJ_bqrw_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Currentfigures\' ',orderBy='$order_recommend',recordCount='1'}"))
##名家观点
#set($HJ_mjgd_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Famousview\'',orderBy='$order_recommend',recordCount='6'}"))
## FOTOSAY名家
#set($HJ_guohua_key = "国画")
#set($HJ_youhua_key = "油画")
#set($HJ_banhua_key = "版画")
#set($HJ_diaosu_key = "雕塑")
#set($HJ_qita_key = "其他")
#set($aa="%$HJ_guohua_key%")
#set($HJ_mj_guohua = $Content.GetRecommendDataList("%{where = 'NodeCode=\'fotosayFam\'   and Title like \'%$HJ_guohua_key%\'',orderBy='$order_recommend',recordCount='18'}"))
#set($HJ_mj_youhua = $Content.GetRecommendDataList("%{where = 'NodeCode=\'fotosayFam\'   and Title like \'%$HJ_youhua_key%\'',orderBy='$order_recommend',recordCount='18'}"))
#set($HJ_mj_banhua = $Content.GetRecommendDataList("%{where = 'NodeCode=\'fotosayFam\'   and Title like \'%$HJ_banhua_key%\'',orderBy='$order_recommend',recordCount='18'}"))
#set($HJ_mj_diaosu = $Content.GetRecommendDataList("%{where = 'NodeCode=\'fotosayFam\'   and Title like \'%$HJ_diaosu_key%\'',orderBy='$order_recommend',recordCount='18'}"))
#set($HJ_mj_qita = $Content.GetRecommendDataList("%{where = 'NodeCode=\'fotosayFam\'   and Title like \'%$HJ_qita_key%\'',orderBy='$order_recommend',recordCount='18'}"))
## 名家访谈
#set($HJ_mjft_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'MastersInterview\'',orderBy='$order_recommend',recordCount='7'}"))
## 名家动态
#set($HJ_mjdt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Famousdynamic\'',orderBy='$order_recommend',recordCount='10'}"))
## 名作品评
#set($HJ_mzpp_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'mzzping\'',orderBy='$order_recommend',recordCount='5'}"))
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取书法家主页数据
#if($node_code=="Spenman")
## 名家名作
#set($SFJ_mjmz_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sfmaster\' ',orderBy='$order_recommend',recordCount='10'}"))
## 本期人物
#set($SFJ_bqrw_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sffigures\' ',orderBy='$order_recommend',recordCount='1'}"))
## 名家观点
#set($SFJ_mjgd_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sfview\'',orderBy='$order_recommend', recordCount='6'}"))
## FOTOSAY名家
#set($SFJ_mj_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sffamous\' ',orderBy='$order_recommend',recordCount='18'}"))
## 名家访谈
#set($SFJ_mjft_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sfinterview\'',orderBy='$order_recommend',recordCount='7'}"))
## 名家动态
#set($SFJ_mjdt_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sfdynamic\'',orderBy='$order_recommend',recordCount='10'}"))
## 名作品评
#set($SFJ_mzpp_index = $Content.GetRecommendDataList("%{where = 'NodeCode=\'Sfcomment\' ',orderBy='$order_recommend',recordCount='5'}"))
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取摄影师频道节点标题及列表页主数据列表
## [syjz]佳作聚焦$sys_jzjj_list
#if($node_code=="syjz")
	#set($node_title = "佳作聚焦")
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='9',pageIndex='$PageIndex',where='NodeCode=\'syjz\'', orderBy='$order_recommend'}")
## [syrw]本期人物$sys_bqrw_list
#elseif($node_code=="syrw")
	#set($node_title = "本期人物")
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'syrw\'', orderBy='$order_recommend'}")
## [syrz]最新入驻$sys_zxrz_list
#elseif($node_code=="syrz")
	#set($node_title = "最新入驻")
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='36',pageIndex='$PageIndex',where='NodeCode=\'syrz\'', orderBy='$order_recommend'}")
## [symj]fotosay名家$sys_mj_list
#elseif($node_code=="symj")
	#set($node_title = "FOTOSAY名家")
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'symj\'', orderBy='$order_recommend'}")
## [sydt]动态追踪$sys_dtzz_list
#elseif($node_code=="sydt")
	#set($node_title = "动态追踪")
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'sydt\'', orderBy='$order_recommend'}")
## [sydh]名师对话$sys_msdh_list
#elseif($node_code=="sydh")
	#set($node_title = "名师对话")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [syxr]摄影新锐$sys_ryxr_list
#elseif($node_code=="syxr")
	#set($node_title = "摄影新锐")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [sypp]名作品评$sys_pzpp_list
#elseif($node_code=="sypp")
	#set($node_title = "名作品评")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [sylt]摄影论坛$sys_sylt_list
#elseif($node_code=="sylt")
	#set($node_title = "摄影论坛")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [syLecture]讲座$sys_jz_list
#elseif($node_code=="syLecture")
	#set($node_title = "讲座")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [syzt]专题$sys_zt_list
#elseif($node_code=="syzt")
	#set($node_title = "专题")
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'syzt\'', orderBy='$order_recommend'}")
## [sykc]课程$sys_kc_list
#elseif($node_code=="sykc")
	#set($node_title = "课程")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [syts]图书$sys_ts_list
#elseif($node_code=="syts")
	#set($node_title = "图书")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='12',pageIndex='$PageIndex', orderBy='$order_news'}")
## [syfg]风格$sys_fg_list
#elseif($node_code=="syfg")
	#set($node_title = "风格")
	#set($arr_index= ["风光", "人像", "纪实", "生态", "其他"])
	##
	##
	#set($key=$OydRequest.GetQueryString("key"))
	#if($key.Length == 0)
		#set($key = "风光")
	#end
	#set($selIndex = $arr_index.indexOf($key))	#set($sys_fg_list_fg_all=$Content.GetDataList("syfg","%{where='ObjectTags=\'风光\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'风光\'', orderBy='$order_news'}")
	#set($sys_fg_list_fg = $pagedData)
	##---	#set($sys_fg_list_rx_all=$Content.GetDataList("syfg","%{where='ObjectTags=\'人像\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'人像\'', orderBy='$order_news'}")
	#set($sys_fg_list_rx = $pagedData)
	##---	#set($sys_fg_list_js_all=$Content.GetDataList("syfg","%{where='ObjectTags=\'纪实\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'纪实\'', orderBy='$order_news'}")
	#set($sys_fg_list_js = $pagedData)
	##---	#set($sys_fg_list_st_all=$Content.GetDataList("syfg","%{where='ObjectTags=\'生态\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'生态\'', orderBy='$order_news'}")
	#set($sys_fg_list_st = $pagedData)
	##---	#set($sys_fg_list_qt_all=$Content.GetDataList("syfg","%{where='ObjectTags=\'其他\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'其他\'', orderBy='$order_news'}")
	#set($sys_fg_list_qt = $pagedData)
	##---
	#set($arr_count = [$sys_fg_list_fg_all.Count, $sys_fg_list_rx_all.Count, $sys_fg_list_js_all.Count, $sys_fg_list_st_all.Count, $sys_fg_list_qt_all.Count])
	#set($arr_data = [$sys_fg_list_fg, $sys_fg_list_rx, $sys_fg_list_js, $sys_fg_list_st, $sys_fg_list_qt])
	##---
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='$PageIndex',where='ObjectTags=\'$key\'', orderBy='$order_news'}")
##
##
##
## [sydq]地区$sys_dq_list
#elseif($node_code=="sydq")
	#set($node_title = "地区")
	#set($arr_index= ["北京", "上海", "天津", "广州", "深圳", "武汉", "浙江", "四川", "安徽", "江西", "港澳", "海外"])
	#set($key=$OydRequest.GetQueryString("key"))
	#if($key.Length == 0)
		#set($key = "北京")
	#end
	#set($selIndex = $arr_index.indexOf($key))	#set($sys_dq_list_bj_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'北京\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'北京\'', orderBy='$order_news'}")
	#set($sys_dq_list_bj = $pagedData)
	##---	#set($sys_dq_list_sh_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'上海\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'上海\'', orderBy='$order_news'}")
	#set($sys_dq_list_sh = $pagedData)
	##---	#set($sys_dq_list_tj_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'天津\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'天津\'', orderBy='$order_news'}")
	#set($sys_dq_list_tj = $pagedData)
	##---	#set($sys_dq_list_gz_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'广州\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'广州\'', orderBy='$order_news'}")
	#set($sys_dq_list_gz = $pagedData)
	##---	#set($sys_dq_list_sz_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'深圳\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'深圳\'', orderBy='$order_news'}")
	#set($sys_dq_list_sz = $pagedData)
	##---	#set($sys_dq_list_wh_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'武汉\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'武汉\'', orderBy='$order_news'}")
	#set($sys_dq_list_wh = $pagedData)
	##---	#set($sys_dq_list_zj_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'浙江\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'浙江\'', orderBy='$order_news'}")
	#set($sys_dq_list_zj = $pagedData)
	##---	#set($sys_dq_list_sc_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'四川\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'四川\'', orderBy='$order_news'}")
	#set($sys_dq_list_sc = $pagedData)
	##---	#set($sys_dq_list_ah_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'安徽\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'安徽\'', orderBy='$order_news'}")
	#set($sys_dq_list_ah = $pagedData)
	##---	#set($sys_dq_list_jx_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'江西\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'江西\'', orderBy='$order_news'}")
	#set($sys_dq_list_jx = $pagedData)
	##---	#set($sys_dq_list_ga_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'港澳\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'港澳\'', orderBy='$order_news'}")
	#set($sys_dq_list_ga = $pagedData)
	##---	#set($sys_dq_list_hw_all=$Content.GetDataList("sydq","%{where='ObjectTags=\'海外\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'海外\'', orderBy='$order_news'}")
	#set($sys_dq_list_hw = $pagedData)
	##---
	#set($arr_count = [$sys_dq_list_bj_all.Count, $sys_dq_list_sh_all.Count, $sys_dq_list_tj_all.Count, $sys_dq_list_gz_all.Count, $sys_dq_list_sz_all.Count, $sys_dq_list_wh_all.Count, $sys_dq_list_zj_all.Count, $sys_dq_list_sc_all.Count, $sys_dq_list_ah_all.Count, $sys_dq_list_jx_all.Count, $sys_dq_list_ga_all.Count, $sys_dq_list_hw_all.Count])
	#set($arr_data = [$$sys_dq_list_bj, $sys_dq_list_sh, $sys_dq_list_tj, $sys_dq_list_gz, $sys_dq_list_sz, $sys_dq_list_wh, $sys_dq_list_zj, $sys_dq_list_sc, $sys_dq_list_ah, $sys_dq_list_jx, $sys_dq_list_ga, $sys_dq_list_hw])
	##---	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='$PageIndex',where='ObjectTags=\'$key\'', orderBy='$order_news'}")
##
## [syjg]机构$sys_jg_list
#elseif($node_code=="syjg")
	#set($node_title = "机构")
	#set($arr_index= ["中国摄影家协会", "中国新闻摄影学会", "中国艺术摄影学会", "中国女性摄影学会", "其他"])
	#set($key=$OydRequest.GetQueryString("key"))
	#if($key.Length == 0)
		#set($key = "中国摄影家协会")
	#end
	#set($selIndex = $arr_index.indexOf($key))
	##---	#set($sys_jg_list_syj_all=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国摄影家协会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'中国摄影家协会\'', orderBy='$order_news'}")
	#set($sys_jg_list_syj = $pagedData)
	##---	#set($sys_jg_list_xwsy_all=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国新闻摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'中国新闻摄影学会\'', orderBy='$order_news'}")
	#set($sys_jg_list_xwsy = $pagedData)
	##---	#set($sys_jg_list_yssy_all=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国艺术摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'中国艺术摄影学会\'', orderBy='$order_news'}")
	#set($sys_jg_list_yssy = $pagedData)
	##---	#set($sys_jg_list_nxsy_all=$Content.GetDataList("syjg","%{where='ObjectTags=\'中国女性摄影学会\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'中国女性摄影学会\'', orderBy='$order_news'}")
	#set($sys_jg_list_nxsy = $pagedData)
	##---	#set($sys_jg_list_qt_all=$Content.GetDataList("syjg","%{where='ObjectTags=\'其他\'',fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'', orderBy='$order_news'}"))
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='1',where='ObjectTags=\'其他\'', orderBy='$order_news'}")
	#set($sys_jg_list_qt = $pagedData)
	##---
	#set($arr_count = [$sys_jg_list_syj_all.Count, $sys_jg_list_xwsy_all.Count, $sys_jg_list_yssy_all.Count, $sys_jg_list_nxsy_all.Count, $sys_jg_list_qt_all.Count])
	#set($arr_data = [$sys_jg_list_syj, $sys_jg_list_xwsy, $sys_jg_list_yssy, $sys_jg_list_nxsy, $sys_jg_list_qt])
	##---	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='10',pageIndex='$PageIndex',where='ObjectTags=\'$key\'', orderBy='$order_news'}")
##
##
##
## [syzthd]摄影师主题活动$sys_zthd_list
#elseif($node_code=="syzthd")
	#set($node_title = "摄影师主题活动")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## [symd]摄影节入选名单$sys_rxmd_list
#elseif($node_code=="symd")
	#set($node_title = "摄影节入选名单")
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='12',pageIndex='$PageIndex', orderBy='$order_news'}")
#end
##
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取摄影师频道列表页侧边数据列表
#if($node_code=="symj" || $node_code=="sydt")
	## 名师对话&名作品评列表
	#set($msdh_list = $Content.GetDataList("sydh","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='9'}"))
	#set($mzpp_list= $Content.GetDataList("sypp","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='11'}"))
#elseif($parent_node.NodeCode == "clsys")
	## Fotosay名家&动态追踪列表
	#set($mj_list= $Content.GetRecommendDataList("%{where = 'NodeCode=\'symj\'',orderBy='$order_recommend', recordCount='8'}"))
	#set($dtzz_list= $Content.GetRecommendDataList("%{where = 'NodeCode=\'sydt\'',orderBy='$order_recommend', recordCount='11'}"))
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取设计师频道节点标题及列表页主数据列表$pagedData
## 佳作聚焦
#if($node_code=="sjjz")
	#set($node_title = $current_node.NodeTitle)
	## 获取分页的推荐数据$pagedData
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='9',pageIndex='$PageIndex',where='NodeCode=\'sjjz\'', orderBy='$order_recommend'}")
## 本期人物
#elseif($node_code=="sjrw")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'sjrw\'', orderBy='$order_recommend'}")
## 最新入驻
#elseif($node_code=="sjrz")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='36',pageIndex='$PageIndex',where='NodeCode=\'sjrz\'', orderBy='$order_recommend'}")
## fotosay名家
#elseif($node_code=="sjmj")
	#set($node_title = $current_node.NodeTitle)
	#set($arr_index= ["平面设计", "环艺设计", "工业设计", "服装设计", "CG插画设计", "网页UI设计"])
	#set($key=$OydRequest.GetQueryString("key"))	#set($selIndex = $arr_index.indexOf($key))
	##---
	#set($sjs_mj_pm_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'平面设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'平面设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_pm = $pagedData)
	##---
	#set($sjs_mj_hy_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'环艺设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'环艺设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_hy = $pagedData)
	##---
	#set($sjs_mj_gy_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'工业设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'工业设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_gy = $pagedData)
	##---
	#set($sjs_mj_fz_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'服装设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'服装设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_fz = $pagedData)
	##---
	#set($sjs_mj_cg_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'CG插画设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'CG插画设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_cg = $pagedData)
	##---
	#set($sjs_mj_ui_all = $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\' and NickName=\'网页UI设计\'',orderBy='$order_recommend'}"))
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'网页UI设计\'', orderBy='$order_recommend'}")
	#set($sjs_mj_ui = $pagedData)
	##---
	#set($arr_count = [$sjs_mj_pm_all.Count, $sjs_mj_hy_all.Count, $sjs_mj_gy_all.Count, $sjs_mj_fz_all.Count, $sjs_mj_cg_all.Count, $sjs_mj_ui_all.Count])
	#set($arr_data = [$sjs_mj_pm, $sjs_mj_hy, $sjs_mj_gy, $sjs_mj_fz, $sjs_mj_cg, $sjs_mj_ui])
	##---
	#if($key.Length == 0)
		$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\'', orderBy='$order_recommend'}")
	#else
		$Label.Get("OYD_GetPagedRecommend","%{pageSize='10',pageIndex='$PageIndex',where='NodeCode=\'sjmj\' and NickName=\'$key\'', orderBy='$order_recommend'}")
	#end
## 动态追踪
#elseif($node_code=="sjdt")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'sjdt\'', orderBy='$order_recommend'}")
## 名师对话
#elseif($node_code=="sjdh")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 摄影新锐
#elseif($node_code=="sjxr")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 名作品评
#elseif($node_code=="sjpp")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 摄影论坛
#elseif($node_code=="sjlt")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 讲座
#elseif($node_code=="sjLecture")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 专题
#elseif($node_code=="sjzt")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{pageSize='5',pageIndex='$PageIndex',where='NodeCode=\'sjzt\'', orderBy='$order_recommend'}")
## 课程
#elseif($node_code=="sjkc")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='5',pageIndex='$PageIndex', orderBy='$order_news'}")
## 图书
#elseif($node_code=="sjts")
	#set($node_title = $current_node.NodeTitle)
	$Label.Get("OYD_GetPagedRecommend","%{querytag='1',pageSize='12',pageIndex='$PageIndex', orderBy='$order_news'}")
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取设计师频道列表页侧边数据列表
#if($node_code=="sjmj" || $node_code=="sjdt")
	## 名师对话&名作品评列表
	#set($msdh_list = $Content.GetDataList("sjdh","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='9'}"))
	#set($mzpp_list= $Content.GetDataList("sjpp","%{fields='ObjectID,AutoPic,PicUrl,ObjectSummary,urlrewrite'',orderBy='$order_news',recordCount='11'}"))
#elseif($parent_node.NodeCode == "clsjs")
	## Fotosay名家&动态追踪列表
	#set($mj_list= $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjmj\'',orderBy='$order_recommend', recordCount='8'}"))
	#set($dtzz_list= $Content.GetRecommendDataList("%{where = 'NodeCode=\'sjdt\'',orderBy='$order_recommend', recordCount='11'}"))
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取主页和栏目列表页更多按钮的链接
#if($node_code == "clsys" || $parent_node_code == "clsys")
	## 摄影师 佳作聚焦$sys_jzjj_more, 本期人物$sys_bqrw_more, 最新入驻$sys_zxrz_more, fotosay名家$sys_mj_more, 动态追踪$sys_dtzz_more, 名师对话$sys_msdh_more, 摄影新锐$sys_syxr_more, 名作品评$sys_mzpp_more, 摄影论坛$sys_sylt_more, 讲座$sys_jz_more, 专题$sys_zt_more, 课程$sys_kc_more, 图书$sys_ts_more, 风格$sys_fg_more, 地区$sys_dq_more, 机构$sys_jg_more, 摄影师主题活动$sys_zthd_more, 摄影节入选名单$sys_rxmd_more
	#set($sys_jzjj_more="/syFocus/list.shtml")
	#set($sys_bqrw_more="/syPerson/list.shtml")
	#set($sys_zxrz_more="/zxrz/list.shtml")
	#set($sys_mj_more="/symj/list.shtml")
	#set($sys_dtzz_more="/sydt/list.shtml")
	#set($sys_msdh_more="/sydh/list.shtml")
	#set($sys_syxr_more="/syxr/list.shtml")
	#set($sys_mzpp_more="/sypp/list.shtml")
	#set($sys_sylt_more="/sylt/list.shtml")
	#set($sys_jz_more="/lecture/list.shtml")
	#set($sys_zt_more="/syzt/list.shtml")
	#set($sys_kc_more="/sykc/list.shtml")
	#set($sys_ts_more="/syBook/list.shtml")
	#set($sys_fg_more="/syStyle/list.shtml")
	#set($sys_dq_more="/syRegion/list.shtml")
	#set($sys_jg_more="/syjg/list.shtml")
	#set($sys_zthd_more="/syzthd/list.shtml")
	#set($sys_rxmd_more="/symd/list.shtml")
#end
#if($node_code == "clsjs" || $parent_node_code == "clsjs")
	#set($sjs_jzjj_more="/sjjz/list.shtml")
	#set($sjs_bqrw_more="/sjrw/list.shtml")
	#set($sjs_zxrz_more="/sjrz/list.shtml")
	#set($sjs_mj_more="/sjmj/list.shtml")
	#set($sjs_dtzz_more="/sjdt/list.shtml")
	#set($sjs_msdh_more="/sjdh/list.shtml")
	#set($sjs_sjxr_more="/sjxr/list.shtml")
	#set($sjs_mzpp_more="/sjpp/list.shtml")
	#set($sjs_sjlt_more="/sjlt/list.shtml")
	#set($sjs_jz_more="/sjLecture/list.shtml")
	#set($sjs_zt_more="/sjzt/list.shtml")
	#set($sjs_kc_more="/sjkc/list.shtml")
	#set($sjs_ts_more="/sjts/list.shtml")
#end
#if($node_code == "Hpainter" || $parent_node.NodeCode == "Hpainter")
	#set($hj_ysmj_more = "/fweb/tbarticleart/index.dhtml")
	#set($hj_mjmz_more = "/Masterpieces/index.shtml")
	#set($hj_bqrw_more = "/Currentfigures/index.shtml")
	#set($hj_mj_more = "/fotosayFam/index.shtml")
	#set($hj_mjgd_more = "/Famousview/index.shtml")
	#set($hj_mjdt_more = "/Famousdynamic/index.shtml")
	#set($hj_mjft_more = "/MastersInterview/index.shtml")
	#set($hj_mzpp_more = "/mzzping/index.shtml")
#end
#if($node_code == "Spenman" || $parent_node.NodeCode == "Spenman")
	#set($sfj_ysmj_more = "/Sffamous/index.shtml")
	#set($sfj_mjmz_more = "/Sfmaster/index.shtml")
	#set($sfj_bqrw_more = "/Sffigures/index.shtml")
	#set($sfj_mj_more = "/Sffamous/index.shtml")
	#set($sfj_mjgd_more = "/Sfview/index.shtml")
	#set($sfj_mjdt_more = "/Sfdynamic/index.shtml")
	#set($sfj_mjft_more = "/Sfinterview/index.shtml")
	#set($sfj_mzpp_more = "/Sfcomment/index.shtml")
#end
#if($node_code == "huayuan" || $parent_node.NodeCode == "huayuan")
	#set($hy_ysjg_more = "/Orgin/index.shtml?sercherradio=on")
	#set($hy_bqtj_more = "/HYbqtj/index.shtml")
	#set($hy_jgdt_more = "/HYjgdt/index.shtml")
	#set($hy_rwjj_more = "/HYrwjj1/index.shtml")
	#set($hy_zxzt_more = "/HYzxzt/index.shtml")
	#set($hy_zlhd_more = "/HYzlhd/index.shtml")
	#set($hy_jypx_more = "/HYjxpx/index.shtml")
	#set($hy_hwsj_more = "/HYhwsj/index.shtml")
	#set($hy_rmjg_more = "/HYrmjg1/index.shtml")
#end
#if($node_code == "Societies" || $parent_node.NodeCode == "Societies")
	#set($st_ysjg_more = "/Orgin/index.shtml?sercherradio=on")
	#set($st_bqtj_more = "/SCbqtj/index.shtml")
	#set($st_jgdt_more = "/SCjgdt/index.shtml")
	#set($st_rwjj_more = "/SCrwjj/index.shtml")
	#set($st_zxzt_more = "/SCzxzt/index.shtml")
	#set($st_zlhd_more = "/SCzlhd/index.shtml")
	#set($st_yspl_more = "/SCyspl/index.shtml")
	#set($st_hwsj_more = "/SChwsj1/index.shtml")
	#set($st_rmjg_more = "/scRMJG/index.shtml")
#end
#if($node_code == "creativePark" || $parent_node.NodeCode == "creativePark")
	#set($cyy_ysjg_more = "/Orgin/index.shtml?sercherradio=on")
	#set($cyy_bqtj_more = "/CPbqtj/index.shtml")
	#set($cyy_jgdt_more = "/CPjgdt/index.shtml")
	#set($cyy_yjgz_more = "/CPyjgz/index.shtml")
	#set($cyy_rwjj_more = "/CPrwjj/index.shtml")
	#set($cyy_zxzt_more = "/CPzxzt/index.shtml")
	#set($cyy_zlhd_more = "/CPzlhd/index.shtml")
	#set($cyy_jypx_more = "/CPjypx/index.shtml")
	#set($cyy_hwsj_more = "/CPhwsj1/index.shtml")
	#set($cyy_rmjg_more = "/CPrmjg/index.shtml")
#end
#if($node_code == "College" || $parent_node.NodeCode == "College")
	#set($gx_ysjg_more = "/Orgin/index.shtml?sercherradio=on")
	#set($gx_bqtj_more = "/CLbqtj/index.shtml")
	#set($gx_jgdt_more = "/CLjgdt/index.shtml")
	#set($gx_rwjj_more = "/CLrwjj/index.shtml")
	#set($gx_zxzt_more = "/CLzxzt/index.shtml")
	#set($gx_zlhd_more = "/CLzlhd/index.shtml")
	#set($gx_jypx_more = "/CLjypx/index.shtml")
	#set($gx_hwsj_more = "/CLhwsj1/index.shtml")
	#set($gx_rmjg_more = "/CLrmjg/index.shtml")
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 新闻模型详细页数据　
#if($ObjectID && $page_type=="info")
	#set($infoData = $Content.GetData2($node_code, $ObjectID))
	#set($page_title=$infoData.Title)
	#set($keywords=$infoData.Keywords)
	#set($page_meta_keywords = $keywords)
	#set($page_meta_description = "${page_title}-${page_meta_keywords}")
	##---
	#if($node_code=="sydh" || $node_code=="syxr" || $node_code=="sypp" || $node_code=="sylt" || $node_code=="syLecture" || $node_code=="sykc" || $node_code=="syts" || $node_code=="syfg" || $node_code=="sydq" || $node_code=="syjg" || $node_code=="syzthd" || $node_code=="symd" || $node_code=="sjdh" || $node_code=="sjxr" || $node_code=="sjpp" || $node_code=="sjlt" || $node_code=="sjLecture" || $node_code=="sjkc" || $node_code=="sjts")			#set($mj_info=$Content.GetRecommendDataList("%{where = 'NodeCode=\'symj\'',orderBy='$order_news', recordCount='8'}"))
		#set($dtzz_info=$Content.GetRecommendDataList("%{where = 'NodeCode=\'sydt\'',orderBy='$order_news', recordCount='11'}"))
	#end
#end
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 魔鬼数字封装
#parse("common/siteweb/Utils_GetNumber.vm")
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取广告
#parse("common/siteweb/Utils_GetADs.vm")
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取页面公告$gonggao
#parse("common/siteweb/Utils_GetAnnouncement.vm")
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取关键字$gjz与搜索关键字$sgjz
#parse("common/siteweb/Utils_GetKeywords.vm")
##
## 〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓〓 获取友情链接$yqlj
#parse("common/siteweb/Utils_GetFriendSites.vm")