.numeric-stepper {
	width:46px;
	height:22px;
	font-size:14px;
	position:relative;
	overflow:hidden;	
	background:#fff url(bg_numeric-stepper.gif) no-repeat;
	display:block;
	float:left;
}

.numeric-stepper input {
	width:30px;
	height:100%;
	float:left;
	text-align:center;
	vertical-align:center;
	font-size:100%;
	border:none;
	background:none;
	padding:2px 0;
}

.numeric-stepper button {
	z-index:100;
	position:absolute;
	right:0;
	width:16px;
	height:10px;
	background:none;
	border:none;
	padding:0;
	margin:0;
	filter:alpha(opacity=0);	/* IE */
	-moz-opacity:0;	/* Gecko */
	-khtml-opacity:0; /* Konqueror */
	opacity:0;	/* CSS2 */	
}

.numeric-stepper button.minus {
	bottom:0;
}