<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.web>
    <httpCookies domain="ucdl.cn"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.1.105:42424" cookieless="false" timeout="200" />
  </system.web>
  <connectionStrings>
    <add name="I18NDBConnectionStringUserCenter" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MJfKX4XR2+/l4H5ILs1C5xQCAZtGVokOFVlcl2Xx17489ZH1gCJiwtiBU6tG8n/4osde2IyzyMDtRc5XWb5FXDDdnwZWeXjFYQR26Y54xM7g96J1xo5kEXZksbWY60QSqwUFxx46ZhTL" providerName="System.Data.SqlClient" />
    <add name="UserCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=UserCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="I18NDBConnectionStringUnionPortal" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MP9Mte8x523wl9iGwvdDsFdHqaWyQAmNKQbRTw2oeMRlKP8A2NJygA3hNMxWdMNugrV1G+d+Y6d/6yxy93++LS9U8CT2vZoHHcLRMElEPITEza4HEEP1pHFuuPfHDNn3v5IN0Jckskxe" providerName="System.Data.SqlClient" />
    <add name="UnionPortalDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=UnionPortal;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SystemAdminDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=SystemAdmin;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="SMSCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=SMSCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ReportCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=ReportCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="RecruitSystemDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=RecruitSystem;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="I18NDBConnectionStringPublicPortal" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MJfKX4XR2+/l4H5ILs1C5xQCAZtGVokOFVlcl2Xx17489ZH1gCJiwtiBU6tG8n/4osde2IyzyMDtRc5XWb5FXDDdnwZWeXjFYQR26Y54xM7g96J1xo5kEXZksbWY60QSqwUFxx46ZhTL" providerName="System.Data.SqlClient" />
    <add name="PublicPortalDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=PublicPortal;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ProjectCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=ProjectCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ProfileCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=ProfileCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PaymentSystemDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=PaymentSystem;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NewsCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=NewsCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MobileAppSystemAdminDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=MobileAppSystemAdmin;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="I18NDBConnectionStringMobileAppSystemAdmin" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MNO1hTtWhh0Fqp9UP6xZT1PYr3Sg7+Uxc5zilV7xMuHm4CrKlpCJ5sUAAwb/ggshAqdKNKyEtveI3WRNzHwNM7SL2Rmg4x/Kb8ikSvasGxUJkut/kXrxXNQj3sf37xqWjzSQnwP9GtZtdSPBsbPgkY8=" providerName="System.Data.SqlClient" />
    <add name="MessageCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=MessageCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="MemberCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=MemberCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="LocationCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=LocationCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="JaguarDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=Jaguar;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="I18NDBConnectionStringGovernmentPortal" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MGZoNQFVt20zH/1gw2kPyETeQ5sjrFmL6yhF4fGGfItpEBfBVih8TD1F87CRUoLQqHBR0W4AxpIDtonwMhVO+c3xsKHNI11+xJYQ/L+5XIMN7uSyZ417k9ZUxl1+GeNUq4RyVWWK+n3JOo9GnQci3Ts=" providerName="System.Data.SqlClient" />
    <add name="GovernmentPortalDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=GovernmentPortal;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="I18NDBConnectionStringFileCenter" connectionString="gCV9QtcpPrG0llxo71kvvoSJ1u2h8QhYbdOED+C92AZHSomM8zk6MJfKX4XR2+/l4H5ILs1C5xQCAZtGVokOFVlcl2Xx17489ZH1gCJiwtiBU6tG8n/4osde2IyzyMDtRc5XWb5FXDDdnwZWeXjFYQR26Y54xM7g96J1xo5kEXZksbWY60QSqwUFxx46ZhTL" providerName="System.Data.SqlClient" />
    <add name="FileCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=FileCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EnterpriseRegistrationDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=EnterpriseRegistration;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EnterprisePublicSiteDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=EnterprisePublicSite;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="EmailCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=EmailCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DataSyncMgmtDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=DataSyncMgmt;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CrowdSourcingDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=CrowdSourcing;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CrowdFundingDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=CrowdFunding;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CommunityDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=Community;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CollegeOnlineSystemDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=CollegeOnlineSystem;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ActiveCenterDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=ActiveCenter;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <add name="FinancialSystemDBConnectionString" connectionString="Data Source=192.168.1.26;Initial Catalog=FinancialSystem;Persist Security Info=True;User ID=superman;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  
  <appSettings>
    <add key="AuthorizationServerCertificateFileName" value="C:\inetpub\ucdl.cn\certificates\ucdl.cn.cer" />
    <add key="ResourceServerCertificateSubjectName" value="CN=*.ucdl.cn" />
    <add key="ResourceServerCertificateStoreLocation" value="LocalMachine" />
    <add key="ResourceServerCertificateStoreName" value="My" />

    <!-- License settings -->
    <add key="AuthorizationCheck" value="false" />

    <!-- default language "zh-CN":china "en-US": US  -->
    <add key="I18NCULTUREDETECTION" value="zh-CN" />
    <add key="I18N_DateTimeFormat_ShortDatePattern" value="yyyy-MM-dd" />
    <add key="I18N_DateTimeFormat_ShortTimePattern" value="HH:mm" />
    <add key="I18N_DateTimeFormat_LongTimePattern" value="HH:mm:ss" />

    <!--（SMS）account actived  time Settings-->
    <add key="UCAccountActiveTime" value="24" />
    <add key="UCValidateTime" value="2" />
    <add key="UCPhoneValidateTime" value="3" />

    <!--Mail Server Settings-->
    <add key="MailServer" value="mail.ucdl.cn" />
    <add key="SMTPServer" value="mail.ucdl.cn" />
    <add key="MailUser" value="rpx6AQiBYIs="/>
    <add key="MailPassword" value="+vhnx7n/V6vXQfbR30Q1YQ=="/>
<!--
    <add key="MailUser" value="0DKR6yk7Mxc="/>
    <add key="MailPassword" value="zr79mQfT4rnOYZIiGlwECg=="/>
-->
    <add key="SMTPAuthentication" value="true" />
    <add key="ServerTimeZoneID" value="21" />

    <!--Mail address Settings-->
    <add key="UCTeamEmail" value="ucenter@ucdl.cn" />

    <!--咨询电话-->
    <add key="ConsultingTelephone" value="010-57113461" />
    
    <add key="ServerReferenceActiveCenter" value="https://web-dev.ucdl.cn/ActiveCenter" />
    <add key="ServerReferenceActiveCenterAPI" value="https://newapi-dev.ucdl.cn/ActiveCenterAPI" />
    <add key="ServerReferenceCollegeOnlineSystem" value="https://web-dev.ucdl.cn/CollegeOnlineSystem" />
    <add key="ServerReferenceCollegeOnlineSystemAPI" value="https://newapi-dev.ucdl.cn/CollegeOnlineSystemAPI" />
    <add key="ServerReferenceCommunity" value="https://web-dev.ucdl.cn/Community" />
    <add key="ServerReferenceCommunityAPI" value="https://newapi-dev.ucdl.cn/CommunityAPI" />
    <add key="ServerReferenceCrowdFunding" value="https://web-dev.ucdl.cn/CrowdFunding" />
    <add key="ServerReferenceCrowdFundingAPI" value="https://newapi-dev.ucdl.cn/CrowdFundingAPI" />
    <add key="ServerReferenceCrowdSourcing" value="https://web-dev.ucdl.cn/CrowdSourcing" />
    <add key="ServerReferenceCrowdSourcingAPI" value="https://newapi-dev.ucdl.cn/CrowdSourcingAPI" />
    <add key="ServerReferenceDataSyncMgmt" value="https://web-dev.ucdl.cn/DataSyncMgmt" />
    <add key="ServerReferenceDataSyncMgmtAPI" value="https://newapi-dev.ucdl.cn/DataSyncMgmtAPI" />
    <add key="ServerReferenceEmailCenter" value="https://web-dev.ucdl.cn/EmailCenter" />
    <add key="ServerReferenceEmailCenterAPI" value="https://newapi-dev.ucdl.cn/EmailCenterAPI" />
    <add key="ServerReferenceEnterprisePublicSite" value="https://web-dev.ucdl.cn/EnterprisePublicSite" />
    <add key="ServerReferenceEnterprisePublicSiteAPI" value="https://newapi-dev.ucdl.cn/EnterprisePublicSiteAPI" />
    <add key="ServerReferenceEnterpriseRegistration" value="https://web-dev.ucdl.cn/EnterpriseRegistration" />
    <add key="ServerReferenceEnterpriseRegistrationAPI" value="https://newapi-dev.ucdl.cn/EnterpriseRegistrationAPI" />
    <add key="ServerReferenceFileCenter" value="https://web-dev.ucdl.cn/FileCenter" />
    <add key="ServerReferenceFileCenterAPI" value="https://newapi-dev.ucdl.cn/FileCenterAPI" />
    <add key="ServerReferenceFinancialSystem" value="https://web-dev.ucdl.cn/FinancialSystem" />
    <add key="ServerReferenceFinancialSystemAPI" value="https://newapi-dev.ucdl.cn/FinancialSystemAPI" />
    <add key="ServerReferenceGovernmentPortal" value="https://web-dev.ucdl.cn/GovernmentPortal" />
    <add key="ServerReferenceGovernmentPortalAPI" value="https://newapi-dev.ucdl.cn/GovernmentPortalAPI" />
    <add key="ServerReferenceMemberCenter" value="https://web-dev.ucdl.cn/MemberCenter" />
    <add key="ServerReferenceMemberCenterAPI" value="https://newapi-dev.ucdl.cn/MemberCenterAPI" />
    <add key="ServerReferenceMessageCenter" value="https://web-dev.ucdl.cn/MessageCenter" />
    <add key="ServerReferenceMessageCenterAPI" value="https://newapi-dev.ucdl.cn/MessageCenterAPI" />
    <add key="ServerReferenceMobileAppSystemAdmin" value="https://web-dev.ucdl.cn/MobileAppSystemAdmin" />
    <add key="ServerReferenceMobileAppSystemAdminAPI" value="https://newapi-dev.ucdl.cn/MobileAppSystemAdminAPI" />
    <add key="ServerReferenceNewsCenter" value="https://web-dev.ucdl.cn/NewsCenter" />
    <add key="ServerReferenceNewsCenterAPI" value="https://newapi-dev.ucdl.cn/NewsCenterAPI" />
    <add key="ServerReferenceOpenSNS" value="https://web-dev.ucdl.cn/OpenSNS" />
    <add key="ServerReferenceOpenSNSAPI" value="https://newapi-dev.ucdl.cn/OpenSNSAPI" />
    <add key="ServerReferencePaymentSystem" value="https://web-dev.ucdl.cn/PaymentSystem" />
    <add key="ServerReferencePaymentSystemAPI" value="https://newapi-dev.ucdl.cn/PaymentSystemAPI" />
    <add key="ServerReferenceProfileCenter" value="https://web-dev.ucdl.cn/ProfileCenter" />
    <add key="ServerReferenceProfileCenterAPI" value="https://newapi-dev.ucdl.cn/ProfileCenterAPI" />
    <add key="ServerReferenceProjectCenter" value="https://web-dev.ucdl.cn/ProjectCenter" />
    <add key="ServerReferenceProjectCenterAPI" value="https://newapi-dev.ucdl.cn/ProjectCenterAPI" />
    <add key="ServerReferencePublicPortal" value="https://web-dev.ucdl.cn/PublicPortal" />
    <add key="ServerReferencePublicPortalAPI" value="https://newapi-dev.ucdl.cn/PublicPortalAPI" />
    <add key="ServerReferenceRecruitSystem" value="https://web-dev.ucdl.cn/RecruitSystem" />
    <add key="ServerReferenceRecruitSystemAPI" value="https://newapi-dev.ucdl.cn/RecruitSystemAPI" />
    <add key="ServerReferenceSMSCenter" value="https://web-dev.ucdl.cn/SMSCenter" />
    <add key="ServerReferenceSMSCenterAPI" value="https://newapi-dev.ucdl.cn/SMSCenterAPI" />
    <add key="ServerReferenceSystemAdmin" value="https://web-dev.ucdl.cn/SystemAdmin" />
    <add key="ServerReferenceSystemAdminAPI" value="https://newapi-dev.ucdl.cn/SystemAdminAPI" />
    <add key="ServerReferenceUnionPortal" value="https://web-dev.ucdl.cn/UnionPortal" />
    <add key="ServerReferenceUnionPortalAPI" value="https://newapi-dev.ucdl.cn/UnionPortalAPI" />
    <add key="ServerReferenceUserCenter" value="https://web-dev.ucdl.cn/UserCenter" />
    <add key="ServerReferenceUserCenterAPI" value="https://newapi-dev.ucdl.cn/UserCenterAPI" />
    <add key="ServerReferenceSecuritySite" value="https://secure-dev.ucdl.cn/WebCenter/SecuritySite" />
    <add key="ServerReferenceAdminSite" value="https://admin-dev.ucdl.cn/WebCenter/InternalSite" />
    <add key="ServerReferenceWWWSite" value="https://www-dev.ucdl.cn/WebCenter/PublicSite" />
    <add key="ServerReferenceLocationCenter" value="https://web-dev.ucdl.cn/LocationCenter" />
    <add key="ServerReferenceLocationCenterAPI" value="https://newapi-dev.ucdl.cn/LocationCenterAPI" />
    <add key="ServerReferencePublicSite" value="https://web-dev.ucdl.cn/PublicSite" />
    <add key="ServerReferencePublicSiteAPI" value="https://newapi-dev.ucdl.cn/PublicSiteAPI" />
    <add key="ServerReferenceLiveChat" value="https://admin-dev.ucdl.cn/livechatsupport" />
    <add key="ServerReferenceLiveChatAPI" value="https://admin-dev.ucdl.cn/livechatsupport" />
    <add key="ServerReferenceReportCenter" value="https://web-dev.ucdl.cn/ReportCenter" />
    <add key="ServerReferenceReportCenterAPI" value="https://newapi-dev.ucdl.cn/ReportCenterAPI" /> 

  </appSettings>
</configuration>