/* 全局样式 */

body { background-color: #c3c2c1; margin: 0; padding: 0; font-size: 12px; font-family: "宋体", Arial, Helvetica, sans-serif; }

p,
ul,
li,
dl,
dd,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; padding: 0; }

ul li { list-style: none; }

a img { border: none; }

a:link { color: #222; text-decoration: none; }

a:visited { color: #222; text-decoration: none}

a:hover { color: #035ea4; text-decoration: none}

a:active { color: #035ea4; text-decoration: none}

a:focus { outline: none; }
/* 全局样式  结束 */
/*  公用样式 */

.clear { clear: both; }

#Div-head ul li { float: left; }

#Div-head ul li a,
.func-Ul li a,
.func-Ul-2 li a,
#rht-subFunction ul li a { display: block; }
/*  公用样式  结束 */
/* 头部样式  */

#Div-F { width: 895px; height: 630px; margin: 60px auto 0 auto; background-color: #eee; }

#Div-head { background: url(../images/tfgz_01.jpg) no-repeat left top; width: 895px; height: 91px; position: relative}

#Div-head ul { position: absolute; right: 20px; top: 43px; width: 218px; }

#Div-head ul li a { width: 104px; height: 40px; }

#back-index a { background: url(../images/tfgz_18.jpg) no-repeat left top; }

#login-out a { background: url(../images/tfgz_17.jpg) no-repeat left top; }

#back-index a:hover { background: url(../images/tfgz_18-2.jpg) no-repeat left top; }

#login-out a:hover { background: url(../images/tfgz_17-2.jpg) no-repeat left top; }
/*  中间样式  */

#middle-iframe { border-left: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #666; width: 893px; _width: 891px; height: 404px; }

#top-Tips { background: url(../images/tfgz_02.jpg) repeat-x left top; height: 40px; line-height: 40px; width: 893px; color: #666; }

#top-Tips img { float: left; }

#lft-Function { width: 664px; float: left; background-color: #eee; height: 364px; }

#rht-subFunction { width: 229px; float: left; background: url(../images/tfgz_06.jpg) repeat-y left top; height: 364px; }

.func-Ul { margin: 20px 0 20px 27px; _margin: 20px 0 20px 27px; height: 153px; }

.func-Ul li { float: left; margin-right: 27px; _margin-right: 20px; }

.func-Ul li a,
.func-Ul-2 li a { width: 185px; height: 153px; }

.func-1 a { background: url(../images/tfgz_22.jpg) no-repeat left top; }

.func-1 a:hover { background: url(../images/tfgz_22-2.jpg) no-repeat left top; }

.func-2 a { background: url(../images/tfgz_23.jpg) no-repeat left top; }

.func-2 a:hover { background: url(../images/tfgz_23-2.jpg) no-repeat left top; }

.func-3 a { background: url(../images/tfgz_24.jpg) no-repeat left top; }

.func-3 a:hover { background: url(../images/tfgz_24-2.jpg) no-repeat left top; }

.func-4 a { background: url(../images/tfgz_26.jpg) no-repeat left top; }

.func-4 a:hover { background: url(../images/tfgz_26-2.jpg) no-repeat left top; }

.func-5 a { background: url(../images/tfgz_25.jpg) no-repeat left top; }

.func-5 a:hover { background: url(../images/tfgz_25-2.jpg) no-repeat left top; }

.func-Ul-2 { height: 153px; margin: 0 0 0 120px; display: block; }

.func-Ul-2 li { float: left; margin-right: 27px; }

#rht-subFunction ul { width: 209px; margin: 15px auto 0 auto; }

#rht-subFunction ul li { margin: 0 0 10px 0; }

#rht-subFunction ul li a { width: 209px; height: 71px; display: block}

.rht-li_1 a { background: url(../images/tfgz_19.jpg) no-repeat left top; }

.rht-li_1 a:hover { background: url(../images/tfgz_19-2.jpg) no-repeat left top; }

.rht-li_2 a { background: url(../images/tfgz_20.jpg) no-repeat left top; }

.rht-li_2 a:hover { background: url(../images/tfgz_20-2.jpg) no-repeat left top; }

.rht-li_3 a { background: url(../images/tfgz_21.jpg) no-repeat left top; }

.rht-li_3 a:hover { background: url(../images/tfgz_21-2.jpg) no-repeat left top; }

.rht-li_4 a { background: url(../images/tfgz_27.jpg) no-repeat left top; }

.rht-li_4 a:hover { background: url(../images/tfgz_27-2.jpg) no-repeat left top; }
/*  底部 */

#Div-helps { width: 893px; height: 78px; clear: both; background: url(../images/tfgz_07.jpg) repeat-x left top; border-left: 1px solid #666; border-right: 1px solid #666; }

#Div-helps dl { width: 220px; float: left; margin: 8px 0 0 60px; _margin: 8px 0 0 35px; display: block; }

#Div-helps dl dt { font-size: 14px; font-weight: 600; background: url(../images/tfgz_04.jpg) no-repeat left 2px; padding-left: 15px; margin-bottom: 15px; color: #333; }

#Div-helps dl dd { float: left; padding-left: 10px; background: url(../images/tfgz_05.jpg) no-repeat left top; margin-bottom: 5px; width: 60px; }

#Div-helps dl dd a { margin: 0 10px 0 0; color: #222; }

#Div-helps dl dd a:hover { color: #035ea4; }

#Div-bottom { width: 895px; height: 57px; background: url(../images/tfgz_16.jpg) no-repeat left top; }

#Div-bottom p { margin: 0 0 0 270px; color: #aaa; padding: 15px 0 0 0; }
/* 二级页面样式 */

#sub-titles ul { width: 620px; height: 36px; line-height: 36px; margin: 15px auto; position: relative; background: url(../images/Sec_page_03.jpg) no-repeat left top; }

#sub-titles ul li { float: left; }

#sub-titles ul li a { display: block; height: 36px; }

.title-1 a { background: url(../images/f_page_03.jpg) no-repeat left top; width: 153px; }

.current-1,
.title-1 a:hover { background: url(../images/csh-2.png) no-repeat left top; width: 153px; }

.title-2 a { background: url(../images/f_page_03-04.jpg) no-repeat left top; width: 95px; }

.current-2,
.title-2 a:hover { background: url(../images/gzbd-2.png) no-repeat left top; width: 116px; margin-left: -21px; position: relative; }

.title-3 a { background: url(../images/f_page_03-05.jpg) no-repeat left top; width: 99px; }

.current-3,
.title-3 a:hover { background: url(../images/sjsh-2.png) no-repeat left top; margin-left: -21px; width: 120px; position: relative; }

.title-4 a { background: url(../images/f_page_03-06.jpg) no-repeat left top; width: 128px; }

.current-4,
.title-4 a:hover { background: url(../images/scbybb-2.png) no-repeat left top; margin-left: -21px; width: 149px; position: relative; }

.title-5 a { background: url(../images/f_page_03-07.jpg) no-repeat left top; width: 143px; }

.current-5,
.title-5 a:hover { background: url(../images/scsbsj-2.png) no-repeat left top; width: 143px; margin-left: -21px; width: 164px; position: relative; }

#Div-middle { width: 895px; }

.ul-div { width: 100%; float: left; }

.ul-div-2 { float: left; width: 196px; _width: 196px; }

#show-content { background: url(../images/Sec_page_03-07.jpg) no-repeat left top; height: 281px; margin: 0 auto; width: 592px; _width: 602px; padding: 0 15px; _padding: 0 10px; }

#show-content5 { height: 210px; margin: 0 auto; width: 592px; _width: 602px; padding: 0 15px; _padding: 0 10px; }

#show-content6 { border-top: 1px dotted #ccc; height: 210px; margin: 0 auto; width: 592px; _width: 602px; padding: 0 15px; _padding: 0 10px; }

#show-content-2 { background: url(../images/th_page_03.jpg) no-repeat left top; width: 622px; height: 337px; margin: 12px auto; }

#show-content h4,
#show-content-2 h4 { text-align: center; height: 42px; line-height: 42px; font-size: 16px; color: #333; margin-bottom: 15px; }

.ul-div h5,
.ul-div-2 h5 { padding: 0 0 15px 0; font-size: 14px; color: #666; clear: both; }

.content-ul { float: left; width: 250px; margin: 0 15px; _width: 240px; _margin: 0 12px; display: block; }

.content-ul-2 { float: left; width: 250px; _width: 246px; margin: 0 0 0 20px; _margin: 0 5px 0 10px; display: block; }

.content-ul-3 { float: left; width: 80px; _width: 78px; margin: 0 0 0 10px; _margin: 0 5px 0 8px; display: block; }

.dash-line { border-right: 1px dashed #ccc; }

.content-ul li a,
.content-ul-2 li a,
.content-ul-3 li a { height: 14px; padding: 0 0 0 18px; margin-bottom: 25px; _margin-bottom: 14px; background: url(../images/Sec_page_01.jpg) no-repeat left top; font-size: 12px; display: block; line-height: 16px; }

.tables { padding-top: 15px; }

.tabs { margin: 80px 0 0 20px; _margin: 80px 0 0 10px; }

.tabs li { color: #555; cursor: pointer; font-size: 14px; margin-left: 15px; float: left; }

.tabs li a { padding-left: 9px; height: 32px; line-height: 32px; background: url(../images/button-leftt.jpg) no-repeat left top; display: block; color: #555; float: left; }

.tabs li a span { padding-right: 9px; background: url(../images/button-right.jpg) no-repeat right top; display: block; }

.tabs li a:hover { background: url(../images/button-left_2.jpg) no-repeat left top; }

.tabs li a:hover span { background: url(../images/button-right_2.jpg) no-repeat right top; }

.add li { float: left; width: 250px; }
/* 2015-05-15*/

#show-content { position: relative; z-index: 1; }

.mtabs { position: absolute; left: 20px; width:580px; }
.mt1 { top: 60px; z-index: 10;}
.mt2 { top: 130px; z-index: 1;}
.mtabs td { height: 52px; padding:0px; margin:0px;}
.mtabs li { position: relative; width: 120px; height: 32px; line-height: 32px; color: #555; cursor: pointer; font-size: 14px; margin: 10px 30px; list-style:none; }

.mtabs li a { padding:0 0 0 9px; height: 32px; line-height: 32px; background: url(../images/button-leftt.jpg) no-repeat left top; display: block; color: #555; width: 120px; text-align: center; }

.mtabs li a span { padding-right: 9px; background: url(../images/button-right.jpg) no-repeat right top; display: block; color: #000; }

.mtabs li a:hover, .mtabs li a.up { background: url(../images/button-left_2.jpg) no-repeat left top; }

.mtabs li a:hover span, .mtabs li a.up span { background: url(../images/button-right_2.jpg) no-repeat right top; }
/* */

.msub { display: none; position: absolute; top: 31px; left: 2px; z-index: 300; width: auto; z-index: 100; zoom:1;}

.msub li { display: block; width: 116px; height: 30px; line-height: 30px; text-align: left; padding-left: 10px; background: #e0dedf; cursor: pointer; margin: 0px; }

.msub li span { font-size: 12px; }

.msub li.on { background-color: #cdcdcd; }

div.m3sub { display: none; width: 120px; height: auto; position: absolute; left: 126px; top:-1px; z-index: 500; zoom: 1; background-color: #cdcdcd; }

div.m3sub a { display: block; float: left; width: 120px; height: 30px; line-height: 30px; background-color: #cdcdcd; background-image: none; text-align: center; padding: 0px; font-size: 12px; }

div.m3sub a:hover { color: red; background-image: none; }
