@{
    Layout = "~/Views/Shared/_LayoutHFNA.cshtml";
}


@section scripts
{
    <script language="javascript" type="text/javascript" src="~/Tools/My97DatePicker/WdatePicker.js"></script>
}
<ol class="breadcrumb">    
    <li><a href="#">融资平台</a></li>
    <li class="active">@ViewBag.ContentName</li>
</ol>
@*<div class="page-header">
    <p></p>
</div>*@
    @RenderBody()


    

