@{
    Layout = "~/Views/Shared/_LayoutHFN.cshtml";
}
<link href="~/Content/ui-dialog.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/js/lib/dialog-min.js"></script>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3">
        @Html.Raw(new UCFramework.Infrastructure.SDK.MenuAPI().Aside(new UCFramework.Infrastructure.SDK.MenuAPI().GetAsideMenu()))
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9">
         @RenderBody()
    </div>
</div>
@section scripts
{
    @RenderSection("scripts", required: false)
}
