.marketing{ border:1px solid #ff00dd;}
.ui-menu
{ position: relative; width: 12.5em; padding: .2em;}
.ui-menu .ui-menuitem
{ float: left; clear: both; width: 100%; margin: 1px 0; padding: 0; }

.ui-menu .ui-menuitem-link
{ line-height: 16px; display: block; float: left; width: 92%; padding: .2em; cursor: pointer; text-decoration: none; border: solid 1px transparent; outline: none; }
.ui-menu .ui-menuitem-link .ui-menuitem-icon
{ display: inline-block; float: left; }

.ui-menu .ui-menuitem-text
{ float: left; }

.ui-menu .ui-menu-parent
{ position: relative; }

.ui-menu .ui-menu-parent .ui-menu-child
{ line-height: 1.2; position: absolute; display: none; width: 12.5em; margin: 0; padding: .2em; list-style: none; text-decoration: none; outline: 0; }

.ui-menu .ui-menu-parent .ui-submenu-icon
{ float: right; margin-right: -5px; }
