
<link href="~/Content/css/smartpaginator.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/xmdt.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/js/app/infoList.js"></script>
<script type="text/javascript" src="~/Scripts/js/app/DynamicList.js"></script>


<div class="row" style="padding:0 15px;margin-top:30px;">

    <div class="col-md-8 left-rz">
        <!--项目动态-->
        <div class="content DynamicList"></div>
        <div class="subContent w830"></div>
    </div>

    <div class="col-md-4" style="padding-right:0;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">资讯排行榜</h3>
            </div>
            <div class="panel-body">
                <ul>
                    @if (ViewBag.TopNewsList != null)
                    {
                        foreach (var item in ViewBag.TopNewsList)
                        {
                            <li><a href="~/cfnews/newsdetail?id=@item.LID" target="_blank">@item.Name</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
