/*
	AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/



/*
	FONTS IMPORT
*/

@import url( 'http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext' );


/*
	font-family: 'Noticia Text', 'Lucida Bright', Georgia, serif;
	font-family: 'Cabin Condensed', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
*/