
@{
    Layout = null;
}
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
                  

              


    <h2>AttachmentView</h2>

           <form class="fileinput-button">  </form>
           <div >sdfsdfsfsdf
               @Html.Partial("_Attachment")
           </div>
           

    <script>
        function uploaddone(e, data) { alert(data.result.name); }
        
    </script>
