{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}
{% load attributes_filters %}
{% with all_images=product.images.all %}
    {# use length rather then count as the images get queried anyways #}

    {% if all_images|length >= 1 %}
            <div class="zrect">
                <div class="zoom">
                    {% thumbnail all_images.0.original "400x400" upscale=False as thumb %}
                        {% thumbnail all_images.0.original "800x800" upscale=False as thumb_big %}
                        <a href='{{ thumb_big.url }}' class='cloud-zoom cz1' id='zoom1' rel="adjustY:-4">
                        {% endthumbnail %}
                            <img class="zoomimg" src="{{ thumb.url }}" alt='{{ product.get_title }}' title="{{ product.get_title }}" />
                        </a>
                    {% endthumbnail %}
                </div>            
            </div>

            <div id="zoom_list" class="picScroll-left">
                <div class="bd">
                    <ul class="picList"  id="thumblist">
                    {% for image in all_images %}
                        <li  class="item {% if forloop.first %}active{% endif %}">
                            <div class="pic">
                                <!-- big small-->
                                {% thumbnail image.original "800x800" upscale=False as thumb_big %}

                                {% thumbnail image.original "400x400" upscale=False as thumb_mid %}
                                <a href='{{ thumb_big.url }}'  class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '{{ thumb_mid.url }}' ">
                                {% endthumbnail %}
                                {% endthumbnail %}

                                    <!-- tiny -->  
                                {% thumbnail image.original "80x80" upscale=False as thumb_small %}
                                    <img class="zoom-tiny-image" src="{{ thumb_small.url }}" alt="{{ product.get_title }}" />
                                {% endthumbnail %}

                                </a>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="hd">
                    <a class="next"></a>                                    
                    <a class="prev"></a>                                    
                </div>

            </div>

    {% else %}

        {# Only one image to show #}
        <div id="product_gallery" class="slide">
            <div class="ulleft">
                <div class="carousel-inner">
                    <div class="item active">
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "440x400" upscale=False as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                        {% endthumbnail %}
                    {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endwith %}
