

@{
    ViewBag.Title = "项目资料编辑";
    ViewBag.ContentName = "项目资料编辑";
}

<link href="~/Scripts/UMEditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/MyProject.css"/>

<!-- 项目标签列表 -->
<script type="text/javascript" src="~/Scripts/js/app/projectTab.js"></script>
<!-- 评论的脚本 -->
<script type="text/javascript" src="~/Scripts/js/app/pl.js"></script>
<script type="text/javascript" src="~/Scripts/js/app/ProjectInfo.js"></script>

@*<div class="alert alert-warning" role="alert">温馨提示： <br />请完整填写您的项目资料，填写完整后，页面底部将会出现提交审核按钮，点击提交才能进行项目审核！<br>
    项目审核一般需要7个工作日，如有问题，请致电以下号码：010-12345678、44445555</div>*@


<div class="form-horizontal" id="ProjectDetail">

</div>



<div class="subContent">
    <div id="projectTab"></div>
</div>