<!-- 商业模式 businessModelTpl -->
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>目标用户或客户群体定位 </dt>
    <dd>
        <%= item.Target %>
    </dd>
</dl>
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>目标用户或客户群体目前困扰或需求定位</dt>
    <dd>
        <%= item.Demand %>
    </dd>
</dl>
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>满足目标用户或客户需求的产品或服务模式说明</dt>
    <dd>
        <%= item.Solution %>
    </dd>
</dl>
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>项目赢利模式说明</dt>
    <dd>
        <%= item.ProfitModel %>
    </dd>
</dl>
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>市场主要同行或竞争对手概述</dt>
    <dd>
        <%= item.Competitor %>
    </dd>
</dl>
<dl>
    <dt class="mTitle"><i class="fa fa-arrow-circle-o-right"></i>项目主要核心竞争力说明</dt>
    <dd>
        <%= item.Competitiveness %>
    </dd>
</dl>
