<div class="switch">
    <ul class="nav nav-tabs">
        <li role="presentation"  @if (ViewBag.TabIndex == 1) { @Html.Raw(" class=\"active\" ")  } style="width: 155px;">@Html.ActionLink("个人", "IndividualFinancingParties")</li>
        <li role="presentation"  @if (ViewBag.TabIndex == 2) { @Html.Raw(" class=\"active\" ")  } style="width: 155px;">@Html.ActionLink("机构", "OrganizationFinancingParties")</li>

    </ul>
    <div class="clear"></div>
</div>

