@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ViewBag.ContentName = "项目(融资)方介绍";}

<div class="switch">
    <ul class="nav nav-tabs">
        <li style="color:red;">@ViewBag.Message</li>
    </ul>
    <div class="clear"></div>
</div>

<div id="tagContent">

    <div class="conIn ">
        作为有着创意项目的创业者，您可以在平台发起项目融资，展示新鲜可靠的商业计划，快速融资，将创意变成现实。<br />
        项目方可分为个人项目方和机构项目方......
        <br/>
        <br />
        <br />
        <br />
        只有登录到系统，才能进行后续操作。<br />
        若您已有账号，请点击<a href="../CFAccount/Login">此处</a>登录，否则请点击<a href="@System.Configuration.ConfigurationManager.AppSettings["ServerReferenceUserCenter"]/Account/Register">此处</a>注册。

</div>
</div>
