<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <!-- 清除默认样式，发布时要把注释删除！ -->
    <link href="css/reset.css" rel="stylesheet" type="text/css">    
    <link href="css/ez.css" rel="stylesheet" type="text/css">

    <title>登录页</title>

    <style>
        div {border:1px solid #d0d0d0;}
    </style>

</head>

<body>
<div class="ez-wr ez-mw" style="width:780px;">



    <div class="ez-fl ez-negmr ez-50">
        <div class="ez-fl ez-negmr ez-50">
            <div class="ez-box">.1.</div>
        </div>
        <div class="ez-last ez-oh">
            <div class="ez-box">.2.</div>
        </div>
    </div> 
    <div class="ez-last ez-oh">
        <div class="ez-fl ez-negmr ez-50">
            <div class="ez-box">.3.</div>
        </div>
        <div class="ez-last ez-oh">
            <div class="ez-box">.4.</div>
        </div>
    </div>
</div>


</body>
</html>
