@{
    Layout = null;
}<ul class="personInfo">
    <li><img src="~/Content/img/nophoto.jpg"></li>
    <li><span class="name">众创空间</span></li>
    <li>会员级别： 合作伙伴</li>
</ul>

<h1 class="font_1 ct_7 title_line fw_normal">项目方管理</h1>

<dl class="memberList">
    <dd><a href="~/PartnersModel/CFFinance/approve"><i class="fa fa-thumbs-o-up"></i>项目方资质审批</a></dd>
    <dd><a href="~/PartnersModel/CFFinance/projectList"><i class="fa fa-bars"></i> 项目方列表</a></dd>
</dl>
<h1 class="font_1 ct_7 title_line fw_normal">投资方管理</h1>

<dl class="memberList">
    <dd> <a href="~/PartnersModel/CFInvest/aptitude"><i class="fa fa-legal"></i> 投资方资质审批</a></dd>
    <dd><a href="~/PartnersModel/CFInvest/Collar"><i class="fa fa-lightbulb-o"></i> 领投资质审批</a></dd>
    <dd><a href="~/PartnersModel/CFInvest/list"><i class="fa fa-list-ul"></i> 投资方列表</a></dd>
</dl>
<h1 class="font_1 ct_7 title_line fw_normal">项目管理</h1>
<dl class="memberList">
    <dd><a href="~/PartnersModel/CFProject/check"><i class="fa fa-futbol-o"></i> 项目审核</a></dd>
    <dd><a href="~/PartnersModel/CFProject/list"><i class="fa fa-list-alt"></i> 项目列表</a></dd>

</dl>
<h1 class="font_1 ct_7 title_line fw_normal">消息中心</h1>

<dl class="memberList">
    <dd>
        <a href="javascript:void(0);"><i class="fa fa-reply"></i> 发送新消息</a>
    </dd>
    <dd>
        <a href="javascript:void(0);"><i class="fa fa-comment-o"></i> 我的消息</a>
    </dd>
</dl>