/* CSS Document For Sony China Electronic - Created by JackZhang (Protime Consulting) 2007-01-11 Ver 1.00*/
@import url(background.css);
body{margin:0;padding:0;font:12px/16px Arial, Helvetica, sans-serif;color:#666;text-align:center;background-color:#FFF;}
#container{margin:0 auto;text-align:left;width:950px;}/****************/
#top{margin-top:18px;display:inline-block;width:956px;}
#top{margin-top:28px;display:inline-block;width:956px;}/****************/
/*#middle, #footer{clear:both;diplay:block;width:956px;}*/
/*Common Style*/
br.clear, div.clear{clear:both;font: 1px/1px monospace;display: block;}
a img{border:0;}
div.split-line{clear:both;border-bottom:1px solid #F3F3F3;font: 1px/1px monospace;margin:0 0 6px 0;padding:6px 0 0 0;}
*html div.split-line{padding:0;}
a.more{color:#666;text-decoration:none;padding-right:6px;}
a.more:hover{color:#333;}
.txtgray{color:#999;}
.txtblack{color:#000;}
/*Top Style*/
#top dl, #top dl dt, #top dl dd{margin:0;padding:0;}
#top #logo{margin:0px 18px 0px 18px;float:left;padding:0;height:18px;}
* html #top #logo{margin:0px 10px 0px 9px;}/* For IE */
*+html #top #logo{margin:0px 18px 0px 18px;}/*For IE7*/
#top #logo a{display:block;text-indent: -1000px;overflow:hidden;width:100px;height:18px;}
#top #txt-China{float:right;margin:3px 18px 0 6px;}
* html #top #txt-China{margin-right:10px;}
* html #top>dl>#txt-China{margin-right:18px;}
#top #txt-China a{text-indent: -1000px;overflow:hidden;width:44px;height:13px; display:block;}
#top #txt-China a{text-indent: -1000px;overflow:hidden;width:47px;height:15px; display:block;}/****************/
#top #search-bar{float:right;}

/*Search Bar Style*/
#search-bar form{margin:0;padding:0;}
#search-bar label{margin-right:6px;float:left;padding-top:4px;}
#search-bar #search-input{border:0;margin-right:2px;width:161px;height:20px;float:left;padding:0 4px;font:12px/20px Arial, Helvetica, sans-serif;color:#999;}
#search-bar>form>#search-input{padding:1px 4px;}
* html #search-bar>form>#search-input{padding:0 4px;}
#search-bar #btn-go{border:0;display:block;width:23px;height:20px;float:left;text-indent: -1000px;overflow:hidden;}

/*Site Nav Style*/
#site-nav{clear:left;border-top:1px solid #F8F8F8;margin:24px 0 0 0;padding:0;}
#site-nav ul{margin:0;padding:0;list-style:none;}
#site-nav ul li{float:left;border-top:3px solid #FFF;}
#site-nav ul li a{margin-left:10px;padding:0 10px 0 16px;color:#A3A3A3;text-decoration:none;font:12px/26px Arial, Helvetica, sans-serif;}
#site-nav ul li a:hover{color:#333;}
#site-nav ul li.on{border-top:3px solid #EBEBEB;}
#site-nav ul li.on a{color:#000;}
/*Gray Pod Content Style*/
.gray-pod{padding:0px 0px 3px 0px;font: 1px/1px monospace;}/****************/
.gray-pod .pod-content{margin:6px 0 0 0;padding:6px;}
.gray-pod .pod-content .right-item{float:left;width:224px;margin-left:3px;padding-left:6px;font:12px/16px Arial, Helvetica, sans-serif;border-left:1px solid #EDEDED;}
*html .gray-pod .pod-content .right-item{margin-left:0px;}
.pod-content .right-item h2{margin:0 0 6px 0;padding:0;}
.pod-content .right-item ul{margin:0;padding:0;list-style:none;}
#shop-list li{float:left;}
#shop-list li a{color:#B9B9B9;text-decoration:none;padding-right:6px;margin-right:6px;}
#shop-list li a:hover{color:#666;}
#shop-list li.last a{margin:0;padding:0;}
#hotlines li{margin:0 0 8px 0;font: 1px/1px monospace;}
/*Product Index*/
#products-index{float:left;width:695px;}
#products-index h2{margin:0 0 3px 0;padding:0;}
#products-list{margin:0;padding:0;list-style:none;}
#products-list li{float:left;margin:0 2px 2px 0;}
#products-list li a img{border:1px solid #F3F3F3;}
#products-list li a:hover img{border:1px solid #DEDEDE;}
.gray-pod #products-index dl.note{font:12px/16px Arial, Helvetica, sans-serif;color:#AAA;}
#products-index dl.note{margin:0;padding:0;}
#products-index dl.note dt, #products-index dl.note dd{float:left;margin:4px 0 0 0;padding:0;}
#products-index dl.note dd a{display:block;color:#AAA; text-decoration:none;padding-right:6px;margin-right:6px;}
#products-index dl.note dd a:hover{color:#666;}
.banner_dv{display:block;margin-top:3px; padding:0px 4px 0px 6px;}
*html .banner_dv{padding:0px 3px 0px 7px;}

/*Column 3 Style*/
.column-3{display:block;margin-top:3px; padding:0px 4px 4px 0px;}/****************/
*html .column-3{padding:0px 3px 0px 7px;}
.column-3-A, .column-3-B, .column-3-C{float:left; display:inline;}
.column-3-A, .column-3-B{height:306px;margin-right:5px;padding-right:5px;border-right:1px solid #F3F3F3;position:relative;}/****************/
.column-3-A{width:150px;}
.column-3-A{width:201px;}/****************/
.column-3-B{width:382px;}
.column-3-B{width:382px;}/****************//****************/
.column-3 .news{margin:6px 0 6px 6px;padding:0;overflow:auto;width:375px;}
.column-3 .news{margin:6px 0 6px 6px;padding:0;overflow:auto;width:325px;}/****************//****************/
.column-3 .news{SCROLLBAR-FACE-COLOR: #FDFDFD;SCROLLBAR-HIGHLIGHT-COLOR: #F0F0F0;SCROLLBAR-SHADOW-COLOR: #CCC;SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;SCROLLBAR-ARROW-COLOR: #AAA;SCROLLBAR-TRACK-COLOR: #FFFFFF;SCROLLBAR-DARKSHADOW-COLOR: #FFF;SCROLLBAR-BASE-COLOR: #FFF;}
.column-3 .news dt{margin:0;padding:0 0 0 8px;font:bold 10px/14px Arial, Helvetica, sans-serif;color:#54a8e8;}
.column-3 .news dd{margin:0 0 4px 0;padding:0 0 0 8px;}
.column-3 .news dd a{color:#666;text-decoration:none;}
.column-3 .news dd a:hover{color:#666;text-decoration:underline;}
.column-3-C .news{height:155px;}
*html .column-3-C div.split-line{padding-top:6px;}
.column-3-C a.more{margin-left:4px;float:left;margin:3px 0 0 0;}
.column-3-C a.rss{float:right;display:block;margin:3px 3px 0 0;padding-left:32px;color:#666;text-decoration:none;}
.column-3-C a.rss:hover{color:#333;}
.column-3-B #topic-swf{position:absolute;z-index:1;top:15px;left:10px;}
.column-3-B .white-block{height:85px;}
.column-3-B .news{height:80px;}
.column-3-C{border:0px solid #F3F3F3;padding:0px;width:382px;height:235px;}/**height:235px;**/
.column-3-C{border:0px solid #F3F3F3;padding:0px;width:331px;height:283px;}/**高度删除****//****************/

*html .column-3-B{width:382px;}/****************//****************/
*html .column-3-C{width:331px;}/****************//****************/

.column-3-C .banner{margin:6px 0 0 0;padding:0;}
.column-3-C .banner a img{border:1px solid #F3F3F3;}
.column-3-C .banner a:hover img{border:1px solid #DEDEDE;}
.column-3 h2{height:26px; line-height:26px; color:#000; font-size:12px; font-weight:normal; margin:0px; padding:0px 8px;}
.column-3 h2 img{margin-right:4px; margin-top:5px;}
.column-3 h2 a{float:right; display:inline; padding-left:10px; color:#000; text-decoration:none; background:url(images/more_ico.gif) left no-repeat;}

/*Form Selects Style*/
form{margin:0;padding:0;}
.selectArea {font:12px/17px Arial, Helvetica, sans-serif;cursor: pointer;width:218px;height:21px;position:relative;}
*html .selectArea{margin-bottom:8px;}
.selectArea .left {width:8px;height:21px;float:left;}
.selectArea .right {width:19px;height:21px;float:right;}
.selectArea .right a {display:block;width:19px;height:21px;}
.selectArea .right i {display:none;}
.selectArea .center {width:170px;margin-left:2px;margin-right:20px;color:#919191;padding-top:3px;}
/*Selects drop-down*/
.optionsDivInvisible, .optionsDivVisible {position:absolute;margin-top:1px;margin-left:3px;    text-align:left;width:192px;padding:2px;z-index:20;}
.optionsDivInvisible {    display:none;}
.optionsDivVisible {display:block;}
.optionsDivVisible p {margin:0;padding:0;}
.optionsDivVisible a {font:12px Arial, Helvetica, sans-serif;color:#919191;    text-decoration:none;display:block;    padding:1px 4px;border:1px solid #F2F2E9;}
.optionsDivVisible a:hover {color:#666;border-color:#EFEFED;}
/*Test div */
#stylesheetTest {position:absolute;left:-999px;    width:10px;    height:10px;}
/*Main Content Style*/
#main-content h1{margin:0 0 4px 0;padding:6px 10px;}
.column-2 h2{margin:0;padding:2px 0 2px 6px;}
.column-2 p{margin:4px 6px;padding:0;}
.column-2 .column-2-A, .column-2 .column-2-B{float:left;width:474px;border:1px solid #F3F3F3;}
.column-2 .column-2-B{margin-left:4px;}
.ListEntry{margin:0 6px 6px 6px;border:1px solid #F3F3F3;}
.ListEntry .pull-item, .ListEntry .ListContent{float:left;}
.ListEntry .pull-item{width:155px;padding:6px;}
.ListEntry .ListContent{padding:6px 0;color:#999;width:293px;}
.column-2 .ListEntry .ListContent p{margin:0 12px 12px 0;}
.ListEntry .ListContent .split-line{margin:6px 0;}
#main-content .gray-pod{border:1px solid #F3F3F3;padding:6px 6px 0 6px;font:12px/16px Arial, Helvetica, sans-serif; margin:0px 6px; background-color:#F3F3F3;}
.sitemap-content{border:1px solid #F3F3F3;padding:6px 12px;margin:0 0 6px 0;}
.sitemap-content h2{margin:0;padding:0;display:inline;padding-right:6px;font:14px/20px Arial, Helvetica, sans-serif;}
.sitemap-content h2 a{color:#333;text-decoration:none;}
.sitemap-content ul{margin:6px 0 0 0;padding:0;list-style:none;}
.sitemap-content ul li{padding:0 2px 6px 8px;margin:0 2px 0 0;width:170px;float:left;border-right:1px solid #F3F3F3;}
.sitemap-content ul li a{color:#999;text-decoration:none;}
.sitemap-content ul li a:hover{color:#333;}
.sitemap-content div.clear{padding:12px 0 0 0;}
*html .sitemap-content div.clear{padding:6px 0 0 0;}
#main-content .column-3{margin:0;}
#main-content .column-3-A, #main-content .column-3-B, #main-content .column-3-C{margin:0 0 6px 0;padding:12px;width:284px;height:190px;border:1px solid #F3F3F3;}
#main-content .column-3-A, #main-content .column-3-B{margin:0 6px 0 0;}
#main-content .column-3-A h2, #main-content .column-3-B h2, #main-content .column-3-C h2{margin:0;padding:0;background:none;border:none;}
#main-content .column-3 p{margin:12px 0 0 0;color:#999;}
#main-content .column-3-C a.std-btn{margin:6px 0 12px 0;}
#main-content .column-3 ul{margin:12px 0 0 0;padding:0;list-style:none;color:#999;}
#main-content .column-3 .column-3-A ul li{float:left;width:274px;padding:0 0 3px 10px;}
#main-content .gray-pod .pod-content{margin:0 0 6px 0;padding:18px;border:1px solid #F3F3F3;}
#main-content .gray-pod .pod-content h2{margin:0 0 12px 0;}
#main-content .gray-pod .pod-content p{font:12px/18px Arial, Helvetica, sans-serif;}
#main-content .gray-pod .pod-content p img{vertical-align:text-bottom;}

/*Standard Button Style*/
a.std-btn{display:block;color:#666;padding-left:8px;text-decoration:none;cursor:pointer;}
a.std-btn span{font:12px/22px Arial, Helvetica, sans-serif;display:block;}
a.std-btn:hover{color:#333;}
*html a.std-btn span{font:12px/24px Arial, Helvetica, sans-serif;}
a.site-url{display:block;margin-top:4px;}

/*Footer Style*/
#footer{border-top:4px solid #F8F8F8;margin:6px;padding:8px 0px 0px 0px;}
#footer-nav{margin:0;padding:0;list-style:none;}
#footer-nav li{float:left;}
#footer-nav li a{padding:0 10px;color:#A3A3A3;text-decoration:none;}
#footer-nav li a:hover{color:#333;}
#footer-nav li.first a{padding-left:0;}
#footer-txt{float:right;margin:0;padding:0;list-style:none;position:relative;}
#footer-txt li.copyright {color:#A3A3A3; display:block;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;height:20px;line-height:18px;text-align:right;width:250px;}
#footer-txt li.global{position:absolute;right:0;top:18px;}
#footer-txt li.global a{display:block;text-indent: -1000px;overflow:hidden;width:74px;height:12px;font: 1px/1px monospace;}
#footer #icp{clear:both;text-align:center;padding-top:30px;}
#footer #icp p{margin:0;padding:0;color:#CCC;}
#footer #icp p a{color:#CCC;text-decoration:none;}
#footer #icp p a:hover{color:#999;}
/*ul style*/
ul , li{margin:0px; list-style:none; padding:0px;}
ul.content_ul{}
ul.content_ul li{clear:both; padding-left:13px;}
ul.content_ul li p{margin:0px; float:left; display:inline; margin-top:0px;}
ul.content_ul li p.data_list{font-size:11px; color:#54a8e8; width:60px; padding-left:9px; background:url(images/ico_1.gif) left no-repeat;}
ul.content_ul li p.y_ico{color:#f98f1f;background:url(images/ico_1_y.gif) left no-repeat;}
ul.content_ul li p.blue_line{background:url(images/blue_line.gif) left no-repeat;}
ul.content_ul li p.content_list{width:278px; overflow:hidden;}
ul.content_ul li p.content_list{width:278px; overflow:hidden;}/****************//****************/
ul.content_ul li p.content_list2{width:240px; overflow:hidden; height:32px;}/****************//****************/
ul.content_ul li p.content_list a{color:#666666; text-decoration:none;}
ul.content_ul li p.content_list2 a{color:#666666; text-decoration:none;}/****************/
ul.content_ul li p.content_list a:hover{text-decoration:underline;}
ul.content_ul li p.content_list2 a:hover{text-decoration:underline;}/****************/
.importent_contant{clear:both;position:absolute; height:98px; display:block; left:0px; bottom:28px; _bottom:0px; width:383px; background-color:#fff;}/****************//****************/
#bottom_nav{border:1px solid #ebebeb; height:28px; line-height:28px; clear:both; display:block; background:url(images/bottom_but_bg.gif) top left repeat-x; margin:0px 6px 0px 6px;}
*html #bottom_nav{margin:7px 6px 0px 6px;}
*+html>body #bottom_nav{margin:12px 6px 0px 6px;}
#bottom_nav li{float:left; display:inline; margin-left:6px; background:url(images/ico_3.gif) left no-repeat; padding:0px 12px;}
#bottom_nav li a{color:#000; text-decoration:none;}
#bottom_nav li a:hover{text-decoration:underline;}

.c3 div.pro_img{display:block; width:201px; height:60px; position:relative; margin-bottom:4px;}
.c3 div.pro_img2{display:block; width:150px; height:55px; position:relative; margin-bottom:4px;}/****************/
.c3 a.pro_img_outline{display:block; width:150px; height:72px; line-height:72px; position:absolute; top:0px; left:0px; background:url(images/left_image_out_new.png) no-repeat; cursor:pointer;}
.c3 a.pro_img_outline{display:block; width:201px; height:60px; line-height:60px; position:absolute; top:0px; left:0px; background:url(images/left_image_out_new.png) no-repeat; cursor:pointer;}/****************/
.c3 a.pro_img_outline:hover{background:url(images/left_image_over_new.png) no-repeat;}
*html .c3 a.pro_img_outline{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_out_new.png");background:none; height:72px;}
*html .c3 a.pro_img_outline{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_out_new.png");background:none; height:60px; width:201px}/****************/
*html .c3 a.pro_img_outline:hover{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_over_new.png");background:none; height:72px;}
*html .c3 a.pro_img_outline:hover{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_over_new.png");background:none; height:60px;}/****************/

.c3 span.proimg-A{float:left; height:72px; display:block;}
.c3 span.proimg-A{float:left; height:55px; display:block;}/****************/
.c3 span.proimg-B{float:left; height:72px; display:block;}
.c3 span.proimg-B{float:left; height:42px; display:block;}/****************/
.c2 div.pro_img{display:block; width:150px; height:110px; position:relative; margin-bottom:4px;}
.c2 a.pro_img_outline{display:block; width:150px; height:110px; line-height:110px; position:absolute; top:0px; left:0px; background:url(images/left_image_out_col2.png) no-repeat; cursor:pointer;}
.c2 a.pro_img_outline:hover{background:url(images/left_image_over_col2.png) no-repeat;}
*html .c2 a.pro_img_outline{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_out_col2.png");background:none; height:110px;}
*html .c2 a.pro_img_outline:hover{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_over_col2.png");background:none; height:110px;}
.c2 span.proimg-A{float:left; height:110px; display:block;}
.c2 span.proimg-B{float:left; height:110px; display:block;}
.c1 div.pro_img{display:block; width:150px; height:224px; position:relative; margin-bottom:4px;}
.c1 a.pro_img_outline{display:block; width:150px; height:224px; line-height:224px; position:absolute; top:0px; left:0px; background:url(images/left_image_out_col1.png) no-repeat; cursor:pointer;}
.c1 a.pro_img_outline:hover{background:url(images/left_image_over_col1.png) no-repeat;}
*html .c1 a.pro_img_outline{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_out_col1.png");background:none; height:224px;}
*html .c1 a.pro_img_outline:hover{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/left_image_over_col1.png");background:none; height:224px;}
.c1 span.proimg-A{float:left; height:224px; display:block;}
.c1 span.proimg-B{float:left; height:224px; display:block;}
.txtgray{color:#ccc; margin-top:5px; clear:left;}
*+html>body .txtgray{color:#ccc; margin-top:-0px; clear:left;}
*html .txtgray{color:#ccc; margin-top:-0px; clear:left;}
.content_nav{height:180px; overflow:auto; margin-top:6px;}
.withimportent{height:112px;}
.withimportent{height:144px;}/****************/
.content_nav{SCROLLBAR-FACE-COLOR: #FDFDFD;SCROLLBAR-HIGHLIGHT-COLOR: #F0F0F0;SCROLLBAR-SHADOW-COLOR: #CCC;SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;SCROLLBAR-ARROW-COLOR: #AAA;SCROLLBAR-TRACK-COLOR: #FFFFFF;SCROLLBAR-DARKSHADOW-COLOR: #FFF;SCROLLBAR-BASE-COLOR: #FFF;}
.banner_dv_col2_A{float:left; clear:left; margin-right:4px;}
.banner_dv_col2_B{float:left; clear:right;}
.banner_dv_col3_A{float:left; clear:left;}
.banner_dv_col3_B{float:left; margin-left:4px;}
.banner_dv_col3_C{float:left; clear:right; margin-left:3px;}
#top_nav{clear:both; margin:10px 6px 6px 6px; padding-top:5px;}
#top_nav ul li{float:left; padding-right:20px; display:block; background:url(images/top_nav_border.gif) left top no-repeat; height:14px; line-height:14px;}
#top_nav ul li a{text-decoration:none;margin-left:20px; color:#a3a3a3; display:block;}
#top_nav ul li a.nav1{background:url(images/button_gysn_off.gif) top left no-repeat; width:55px;}
#top_nav ul li a.nav1:hover,#top_nav ul li.active a.nav1{background:url(images/button_gysn_on.gif) top left no-repeat;}
#top_nav ul li a.nav2{background:url(images/button_snzgsy_off.gif) top left no-repeat; width:83px;}
#top_nav ul li a.nav2:hover,#top_nav ul li.active a.nav2{background:url(images/button_snzgsy_on.gif) top left no-repeat;}
#top_nav ul li a.nav3{background:url(images/button_xwzxsy_off.gif) top left no-repeat; width:83px;}
#top_nav ul li a.nav3:hover,#top_nav ul li.active a.nav3{background:url(images/button_xwzxsy_on.gif) top left no-repeat;}
#main-content h1{padding:0px 10px; margin:0px 6px 4px 6px; height:27px; line-height:27px;  background:url(images/nav_title_bg.gif) left top repeat-x; font-size:12px; color:#000;}
#main-content h1 span{display:inline; background:url(images/h1_life_ico.gif) left no-repeat; padding-left:18px;}
#list_dv ul.content_ul li p.data_list{width:100px;}
#list_dv ul.content_ul li p.content_list{width:720px;}
.importent_contant_dv{border:1px solid #eaeaea; padding-bottom:5px; height:44px; overflow:auto; SCROLLBAR-FACE-COLOR: #FDFDFD;SCROLLBAR-HIGHLIGHT-COLOR: #F0F0F0;SCROLLBAR-SHADOW-COLOR: #CCC;SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;SCROLLBAR-ARROW-COLOR: #AAA;SCROLLBAR-TRACK-COLOR: #FFFFFF;SCROLLBAR-DARKSHADOW-COLOR: #FFF;SCROLLBAR-BASE-COLOR: #FFF;padding:5px 0;}
.importent_contant_dv{border:1px solid #eaeaea; padding-bottom:5px; height:60px; overflow:auto; SCROLLBAR-FACE-COLOR: #FDFDFD;SCROLLBAR-HIGHLIGHT-COLOR: #F0F0F0;SCROLLBAR-SHADOW-COLOR: #CCC;SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;SCROLLBAR-ARROW-COLOR: #AAA;SCROLLBAR-TRACK-COLOR: #FFFFFF;SCROLLBAR-DARKSHADOW-COLOR: #FFF;SCROLLBAR-BASE-COLOR: #FFF;padding:5px 0;}/****************/
#container_detail{width:620px;margin:0 auto;text-align:left;} 
#container_detail2{width:720px;margin:0 auto;text-align:left;}

 
/* for new black header bar */
.cc { height:82px; background:#000; width:100%;}
.cc .new_cc_wp  { width:956px; margin:0 auto; position:relative;}
.cc .new_cc_wp .new_logo2 { position:absolute; left:0; top:0; }

/* for new header */
#container  {position:relative; z-index:100;}
.nn { width:950px; height:36px; margin:0 auto; position:relative;  z-index:200;}/****************/

/* yuan dan
body{margin:0;padding:0;font:12px/16px Arial, Helvetica, sans-serif;color:#666;text-align:center;background:#FFF url(images/1001bg_1_2010.jpg) center top no-repeat;}
.cc { height:82px; background:#000; width:100%; margin-bottom:50px;}
#container  {position:relative; z-index:100; background:#fff;}
.nn { width:950px; height:36px; margin:0 auto; position:relative;  z-index:200; background:#fff;}
*/
 
/* index kv change */
#indexKvImg{height: 238px;}
#indexKvImg img{display: block;}
#indexKvList{width: 950px; background-color: #f3f3f3; padding: 4px 0px; height: 54px; position: relative;}
#kvLeftButton{width: 12px; height: 22px; background-image: url(images/kvButtonBg.gif); background-repeat: no-repeat; background-position: -12px 0px; position: absolute; left: 0px; top: 20px; z-index: 10;}
#kvLeftButton:hover{background-position: 0px 0px;}
#kvRightButton{width: 12px; height: 22px; background-image: url(images/kvButtonBg.gif); background-repeat: no-repeat; background-position: -36px 0px; position: absolute; right: 0px; top: 20px; z-index: 10;}
#kvRightButton:hover{background-position: -24px 0px;}
#indexKvArea{width: 936px; overflow: hidden; height: 54px; position: relative; margin: 0px auto;}
#indexKvList ul{width: 2310px; overflow: hidden; height:  54px; position: absolute;}
#indexKvList li{float: left; display: inline; margin-right: 4px; width: 231px; height: 54px;}
#indexKvList li a{display: block; width: 225px; height: 48px; padding: 3px; background: url(images/listBG01.jpg) no-repeat; cursor: pointer; font-family: "Arial";}
#indexKvList li a{text-decoration: none;}
#indexKvList li a:hover,#indexKvList li a.on{background: url(images/listBG02.jpg) no-repeat; text-decoration: none;}
#indexKvList li p{float: left; width: 48px; margin: 0px; overflow: hidden;}
#indexKvList li p.bannerContent{width: 160px; font-size: 12px; line-height: 16px; margin-left: 3px;}
#indexKvList li p.bannerContent span{display: block;}
#indexKvList li a span.title{color: #000; text-decoration: none; display: block; height: 34px;}
#indexKvList li a span.description{color: #666; text-decoration: none;}
#indexKvList li a:hover span.title{text-decoration: none;}
#indexKvList li a:hover span.description,#indexKvList li a.on span.description{color: #fff; text-decoration: none;}
#showIndexKvImg{display: none;}