.menuInnerH p,.menuInnerH ul,.menuInnerH ol,.menuInnerH dl {margin:10px 0; padding:0;}

a       { color:#FFF; text-decoration:none;}
a:hover { text-decoration:underline;}
body { background:#0D0D0D; color:#0D0D0D; }
/* add for header */
.menuInnerH{width:100%; position:relative; height:32px; border:none;  outline:0; vertical-align:baseline; z-index:2;}
.menuInnerH2{width:950px; margin:0 auto;}
.menuInnerHL{width:497px; float:left;}
.menuInnerHR{width:453px; float:left; overflow:hidden;}

.menuInnerHL ul{margin-left:-25px;}
.menuInnerHR ul{margin-right:-22px;}

.menuInnerHL ul li  {display:block; float:left; height:32px;}
.menuInnerHL ul li a{display:block; float:left; height:32px; color:#999; padding: 0 25px;}
.menuInnerHL ul li a:hover{color:#fff; text-decoration:none;}

.menuInnerHL ul li a.menuLi:hover,
.menuInnerHL ul li a.menuLi2,
.menuInnerHR ul li a.menuLi2{color:#fff; text-decoration:none; background:url(/img/home/hover.gif) no-repeat center 24px;}
/* right */
.menuInnerHR ul li  {display:block; float:right; height:32px;}
.menuInnerHR ul li a{display:block; float:left; height:32px; color:#999; padding: 0 22px 0 23px;}
.menuInnerHR ul li a:hover{color:#fff; text-decoration:none; background:url(/images/hover.gif) no-repeat center 24px;}
/* popup area 相对于 menuInnerH */
.expendDiv  {position:absolute; width:100%;_width:2000px; background:#fff; top:32px; left:0;_margin-left:-1000px;_left:50%; display:none; z-index:1000;}
.expendList {width:990px; margin: 0 auto; min-height:140px; height: auto !important; height:140px; overflow: visible;}
.expendList2{width:1000px; margin: 0 auto; min-height:140px;height: auto !important; height:140px; overflow: visible;}

.menuInnerHL ul li .expendDiv .expendList dl dd ul,
.menuInnerHR ul li .expendDiv .expendList dl dd ul,
.menuInnerHR ul li .expendDiv .expendList2 dl dd ul   {width: inherit; float:left;}

.menuInnerHL ul li .expendDiv .expendList dl dd ul li,
.menuInnerHR ul li .expendDiv .expendList dl dd ul li,
.menuInnerHR ul li .expendDiv .expendList2 dl dd ul li{display:inherit; float:none; line-height:160%; color:#666; height:auto; padding: 0 40px 0 0;}

.menuInnerHL ul li .expendDiv .expendList dl dd ul li a,
.menuInnerHR ul li .expendDiv .expendList dl dd ul li a,
.menuInnerHR ul li .expendDiv .expendList2 dl dd ul li a{display:inherit; float:none; line-height:180%; color:#666; height:auto; padding: 0 0 0 10px; background:url(/img/home/leftarrow.gif) no-repeat 0 7px;}

.menuInnerHL ul li .expendDiv .expendList dl.twoLi,
.menuInnerHR ul li .expendDiv .expendList dl.twoLi{width:455px; float:left; margin: 0 20px;_margin: 0 16px;}
.menuInnerHR ul li .expendDiv .expendList2 dl.fourLi{width:170px; float:left; margin: 0 10px 0 20px;_margin: 0 6px 0 16px;}

.menuInnerHL ul li .expendDiv .expendList dl dt,
.menuInnerHR ul li .expendDiv .expendList dl dt,
.menuInnerHR ul li .expendDiv .expendList2 dl dt{color:#070707; padding:5px 0; border-bottom:2px solid #070707; margin-bottom:20px;}

.expendList,
.expendList2{padding: 25px 0 20px; *padding:25px 0 0;}

.menuInnerHL ul li .expendDiv .expendList dl.threeLi,
.menuInnerHR ul li .expendDiv .expendList dl.threeLi{width:290px; margin: 0 20px;_margin: 0 17px; float:left;}

.expendBanner{border-top: 1px solid #e6e6e6;}
.expendBannerInner{width:990px; margin:0 auto;}
.menuInnerHR ul li .expendDiv .expendBanner .expendBannerInner ul li{height:auto; float:left; padding: 28px 20px; border-right:1px solid #e6e6e6;}
.menuInnerHR ul li .expendDiv .expendBanner .expendBannerInner ul li.last{border:none;}
.menuInnerHR ul li .expendDiv .expendBanner .expendBannerInner ul li a{height:auto;}
.menuInnerHL ul li .expendDiv .expendList dl dd ul li a:hover, 
.menuInnerHR ul li .expendDiv .expendList dl dd ul li a:hover,
.menuInnerHR ul li .expendDiv .expendList2 dl dd ul li a:hover{text-decoration:underline;}
.menuInnerHL ul li .expendDiv .expendList dl dd a{height:auto; padding:0;}

.helparea{background:#000; color:#fff; height:24px; display:block;}
.menuInnerH p.helparea2{width:950px; margin:0 auto; line-height:24px;}
.helparea2 span{padding-left:5px;}

.maskDiv{z-index:100;}
.menuInnerH p.helparea2 span a{color:#fff; text-decoration:none; display:inline; float:none; padding:0; line-height:24px;}
.menuInnerH p.helparea2 span a:hover{background:none;}


.menuInnerHR ul li .expendDiv .expendList2 .fourLi dt a{color: #070707; display: inline; float: none; padding: 0;}
