!!!
html
	head
		title= title
		meta(name="author", content="Stephen Braitsch")
		meta(name="description", content="A Node.js Chat Server using Socket.IO over multiple subdomains")
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body!= body
