@{
    Layout = null;
}
<div class="alert alert-info alert-dismissible" role="alert" style="background:url(@System.Configuration.ConfigurationManager.AppSettings["ServerReferencePublicPortal"]/Content/banner_big.jpg)">
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">关闭</span></button>
    
</div>
