@{
    Layout = null;
}



    @*<div class="page-header">*@
    <div class="row nav_logo">
        <div class="col-md-6">
            <a class="navbar-brand" href="@(System.Configuration.ConfigurationManager.AppSettings["ServerReferencePublicPortal"])">
                <img alt="Brand" src="@System.Configuration.ConfigurationManager.AppSettings["ServerReferenceUserCenter"]/Content/brand.png">
            </a>

        </div>
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle hui" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择分类<span class="caret"></span></button>
                    <ul class="dropdown-menu width_small">
                        <li><a href="#">众创空间</a></li>
                        <li><a href="#">名派设计</a></li>
                        <li><a href="#">空间联盟</a></li>
                        <li><a href="#">域名</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="请输入关键字">
                <span class="input-group-btn">
                    <button class="btn btn-default sousuo" type="button">搜   索</button>
                </span>
            </div>
        </div>
        </div>

    @*<div class="navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>

            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-3">
                <ul class="nav navbar-nav">
                  
                    <li>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">请选择分类<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>                                    
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" placeholder="请输入关键字">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">搜索</button>
                            </span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>*@



