<ul class="nav nav-pills nav-stacked">
    <li>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a data-id="launchAct" href="@Url.Content("~/active/add")">发起活动</a>
            </li>
        </ul>
    </li>
</ul>