@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,li,pre,form,fieldset,legend,button,input,textarea,th,td,span{margin:0;padding:0;}
body,select,textarea{color:#333;font:12px/1.5 tahoma,arial,SimSun,sans-serif;background:#fff;}
h1,h2,h3,h4,h5,h6{color:#333;}
ul li{list-style:none;}
img{border:0 none;}


#market             { width:198px; height:286px; border:1px solid #fccda2; margin-right:10px; background:#fef9f1;}
#market .marketTit  { background:url( homeImg.png) 0 0 repeat-x; height:31px; padding-left:12px;}

#market h2          { background:url( homeImg.png) 0 -45px no-repeat; height:31px; display:block; text-indent:-99em;}

#market .marList li         { border-bottom:1px solid #fde3c9; background:url( homeImg.png) 180px -180px no-repeat; height:31px; line-height:31px; }
#market .marList .last      { border-bottom:0; }
#market .marList li span    { padding-left:40px; cursor:default; height:27px; border:2px solid #fef9f1; line-height:27px; display:block; width:100px; position:relative; font-size:14px;}
#market .marList li .dropList   { position:absolute; z-index:100; margin-left:-9999px; width:160px; line-height:24px; background:#fff; border:2px solid #eaa565; padding:5px;}
#market .marList li .dropList a { margin-left:15px; font-size:12px;}

#market .marList .on .dropList  { margin-left:140px; z-index:102;}
#market .marList .on span       { z-index:110; border:2px solid #eaa565; border-right:0; background:#fff; display:block;}

#market .marList .industy       {background:url( homeImg.png) 11px -256px no-repeat;}
#market .marList .on .industy   {background:url( homeImg.png) 11px -256px no-repeat #fff;}
#market .marList .equip         {background:url( homeImg.png) 11px -284px no-repeat;}
#market .marList .on .equip     {background:url( homeImg.png) 11px -284px no-repeat #fff;}
#market .marList .mater         {background:url( homeImg.png) 11px -315px no-repeat;}
#market .marList .on .mater     {background:url( homeImg.png) 11px -315px no-repeat #fff;}

