@charset "gb2312";
/* CSS Document */
body{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_body.jpg) top repeat-x #c5c5c5; font-family:Arial,"宋体",Courier; color:#333;}
a{color:#333;}

.bgwhite{background:#fff;}
.bg00{background:#000;}
.bg19{background:#191919;}
.bg40{background:#404040;}
.bgee{background:#eee;}
.bg32{background:#323232;}
.bgf1{background:#f1f1f1;}
.bgf4{background:#f4f4f4;}

.borderb00{border-bottom:1px solid #000;}
.borderff{border:1px solid #fff;}
.borderdd{border:1px solid #ddd;}
.borderbdd{border-bottom:1px solid #ddd;}
.borderldd{border-left:1px solid #ddd;}
.borderrdd{border-right:1px solid #ddd;}
.bordert4d{border-top:1px solid #4d4d4d;}
.borderb1d{border-bottom:1px dotted #bfbfbf;}
.borderlee{border-left:1px solid #ee3164;}

.sq280{width:280px; height:280px;}
.sq75{width:75px; height:75px;}
.sq37{width:37px; height:37px;}

.w940{width:940px;}
.w938{width:938px;}
.w680{width:680px;}
.w658{width:658px;}
.w653{width:653px;}
.w644{width:644px;}
.w358{width:358px;}
.w323{width:323px;}
.w320{width:320px;}
.w310{width:310px;}
.w308{width:308px;}
.w306{width:306px;}
.w304{width:304px;}
.w294{width:294px;}
.w290{width:290px;}
.w288{width:288px; margin:auto; clear:both;}
.w280{width:280px;}
.w270{width:270px;}
.w268{width:268px;}
.w254{width:254px;}
.w251{width:251px;}
.w234{width:234px;}
.w245{width:245px;}
.w242{width:242px;}
.w225{width:225px;}
.w224{width:224px;}
.w214{width:214px;}
.w213{width:213px;}
.w210{width:210px;}
.w192{width:192px;}
.w180{width:180px;}
.w176{width:176px;}
.w172{width:172px;}
.w160{width:160px;}
.w147{width:147px;}
.w144{width:144px;}
.w143{width:143px;}
.w142{width:142px;}
.w137{width:137px;}
.w134{width:134px;}
.w132{width:132px;}
.w124{width:124px;}
.w116{width:116px;}
.w104{width:104px;}
.w103{width:103px;}
.w94{width:94px;}
.w83{width:83px;}
.w82{width:82px;}
.w80{width:80px;}
.w74{width:74px;}
.w72{width:72px;}
.w70{width:70px;}
.w65{width:65px;}
.w64{width:64px;}
.w59{width:59px;}
.w54{width:54px;}
.w52{width:52px;}
.w45{width:45px;}
.w44{width:44px;}
.w41{width:41px;}
.w36{width:36px;}
.w24{width:24px;}
.w1{width:1px;}

.marauto{margin:0 auto;}
.marl2{margin-left:2px;}
.marl4{margin-left:4px;}
.marl5{margin-left:5px;}
.marl6{margin-left:6px;}
.marl7{margin-left:7px;}
.marl8{margin-left:8px;}
.marl9{margin-left:9px;}
.marl10{margin-left:10px;}
.marl11{margin-left:11px;}
.marl12{margin-left:12px;}
.marl14{margin-left:14px;}
.marl15{margin-left:15px;}
.marl17{margin-left:17px;}
.marl20{margin-left:20px;}
.marl25{margin-left:25px;}
.marl30{margin-left:30px;}

.marr12{margin-right:12px;}
.marr9{margin-right:9px;}
.marr1{margin-right:1px;}

.amarr8 a{margin-right:8px;}
.amarr12 a{margin-right:12px;}
.amarr13 a{margin-right:13px;}

.mart30{margin-top:30px;}
.mart27{margin-top:27px;}
.mart22{margin-top:22px;}
.mart20{margin-top:20px;}
.mart17{margin-top:17px;}
.mart16{margin-top:16px;}
.mart15{margin-top:15px;}
.mart14{margin-top:14px;}
.mart12{margin-top:12px;}
.mart10{margin-top:10px;}
.mart9{margin-top:9px;}
.mart8{margin-top:8px;}
.mart7{margin-top:7px;}
.mart6{margin-top:6px;}
.mart5{margin-top:5px;}
.mart4{margin-top:4px;}
.mart3{margin-top:3px;}
.mart1{margin-top:1px;}

.padt20{padding-top:20px;}
.padt16{padding-top:16px;}
.padt14{padding-top:14px;}
.padt12{padding-top:12px;}
.padt10{padding-top:10px;}
.padt6{padding-top:6px;}
.padt3{padding-top:3px;}

.padb20{padding-bottom:20px;}
.padb15{padding-bottom:15px;}
.padb12{padding-bottom:12px;}
.padb10{padding-bottom:10px;}
.padb8{padding-bottom:8px;}
.padb6{padding-bottom:6px;}
.padb5{padding-bottom:5px;}
.padb4{padding-bottom:4px;}
.padb1{padding-bottom:1px;}
.padl5{padding-left:5px;}

.pad40{padding:4px 0;}
.pad04{padding:0 4px;}
.pad3{padding:3px;}

.lh50{line-height:50px}
.lh44{line-height:44px}
.lh40{line-height:40px}
.lh38{line-height:38px}
.lh34{line-height:34px}
.lh32{line-height:32px}
.lh28{line-height:28px}
.lh26{line-height:26px}
.lh24{line-height:24px}
.lh22{line-height:22px}
.lh20{line-height:20px}
.lh18{line-height:18px}
.lh16{line-height:16px}

.h524{height:524px;}
.h500{height:500px;}
.h390{height:390px;}
.h358{height:358px;}
.h350{height:350px;}
.h318{height:318px;}
.h288{height:288px;}
.h284{height:284px;}
.h266{height:266px;}
.h263{height:263px;}
.h250{height:250px;}
.h230{height:230px;}
.h221{height:221px;}
.h220{height:220px;}
.h209{height:209px;}
.h200{height:200px;}
.h195{height:195px;}
.h184{height:184px;}
.h180{height:180px;}
.h174{height:174px;}
.h170{height:170px;}
.h168{height:168px;}
.h162{height:162px;}
.h158{height:158px;}
.h154{height:154px;}
.h145{height:145px;}
.h144{height:144px;}
.h143{height:143px;}
.h134{height:134px;}
.h124{height:124px;}
.h120{height:120px;}
.h110{height:110px;}
.h104{height:104px;}
.h95{height:95px;}
.h94{height:94px;}
.h82{height:82px;}
.h80{height:80px;}
.h72{height:72px;}
.h70{height:70px;}
.h55{height:55px;}
.h44{height:44px;}
.h40{height:40px;}
.h36{height:36px;}
.h35{height:35px;}
.h32{height:32px;}
.h30{height:30px;}
.h25{height:25px;}
.h24{height:24px;}
.h22{height:22px;}
.h21{height:21px;}
.h20{height:20px;}
.h16{height:16px;}
.h6{height:6px;}

.redc6,a.redc6,.redc6 a{color:#c6002a;}
.redd00,a.redd00,.redd00 a{color:#d00;}

.gray33,.gray33 a{color:#333;}
.gray80,.gray80 a{color:#808080;}
.gray66,.gray66 a{color:#666;}
.gray99,.gray99 a{color:#999;}
.gray9d{color:#9d9d9d;}

.f10{font-size:10px;}
.f18{font-size:18px;}
.fyh{ font-family:"微软雅黑";}
.fst{ font-family:"宋体";}
.fnormal{font-weight:normal; font-style:normal;}

.relative{position:relative;}
.absolute{position:absolute;}
.bot0{bottom:0;}
.left0{left:0;}
.left6{left:6px;}
.right0{right:0;}
.right6{right:6px;}
.right2{right:2px;}
.bot13{bottom:13px;}
.bot2{bottom:2px;}
.left2{left:2px;}
.top66{top:66px;}
.top130{top:130px;}

.imgborder1{border:1px solid #e2e2e2; padding:1px;}
.imgborder a img{border:1px solid #e2e2e2; padding:1px;}
.imgborder a:hover img{border:1px solid #f05979; padding:1px;}

.alphabg{background:#000; filter:alpha(opacity=70); opacity:0.7; position:absolute;}

.list_p li{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_listyle.png) left center no-repeat; padding-left:8px; white-space:nowrap; word-wrap:normal; word-break:keep-all;}

.head{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_head.png) repeat-x; height:100px;}
	.logo{width:222px; text-align:center; height:100px; float:left;}
	.adv_head{width:728px; height:90px; float:right; padding:5px;}
.nav_top{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_navh.png) top repeat-x; height:49px; color:#3b3b3c; line-height:49px;}
	.nav_top img{margin-top:18px;}
	/*.nav_top a{color:#fff; margin:0 6px;}*/

.nav_bottom{background:#b70037; height:36px; color:#c83b65; line-height:36px;}
	.nav_bottom img{margin-top:12px;}
	/*.nav_bottom a{color:#fff; margin:0 6px;}*/
.nav_index{font-family:"微软雅黑"; font-size:15px; text-align:center; padding-left:15px; width:945px; margin:0 auto;}
	.nav_index dl{float:left;}
	.nav_index a{color:#fff;}

.box_ship{color:#999; padding:10px 30px 20px; width:900px; margin:0 auto; clear:both;}
	.box_ship a{color:#999; margin-right:20px;}
.about{height:24px; text-align:center; overflow:hidden; color:#6d6d6d; padding-top:20px;}
.copyright{padding:6px 0px; overflow:hidden; color:#6d6d6d;}
.copyright div{margin:auto; text-align:center;}
.about a,.copyright a{color:#6d6d6d;}

.slide,.slide_ad{height:350px; overflow:hidden;}
	.slide dl{width:960px; height:350px; position:absolute;}
	.slide_ad dl{width:680px; height:350px; position:absolute;}
/*==============================left============================*/
/*scrollDiv*/
#scrollDiv{width:270px;height:30px;overflow:hidden; float:right;}  
	#scrollDiv li{height:30px;}   
/*瑞丽发现*/
.title_byline{font-size:16px; font-family:"微软雅黑"; text-align:center; line-height:18px; height:18px; margin-top:11px; background-position:center 11px; background-repeat:no-repeat; color:#000; font-weight:bold;}
.titleline_five{background-image:url(http://image.rayliimg.cn/news/2012/rayli/images/titleline_five.png);}
.titleline_four{background-image:url(http://image.rayliimg.cn/news/2012/rayli/images/titleline_four.png);}
.titleline_top{background-image:url(http://image.rayliimg.cn/news/2012/rayli/images/titleline_top.png);}
.rlfxtag{line-height:27px; height:37px; overflow:hidden;}
	.rlfxtag li{height:27px; float:left; text-align:center; color:#303030; background:#eee; cursor:pointer;}
	.rlfxtag li.border1{background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_topbg.png) left center no-repeat #eee;}
	.rlfxtag li.cur{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_rlfxcur.png) center top no-repeat; height:32px; font-weight:bold; color:#fff;}
	.rlfxcon{height:99px;}
		.numbox_rlfx{background:#fff; border:1px solid #cbcbcb; height:16px; line-height:16px; border-left:0; padding:0 10px;}
	.name_wb{padding-left:10px;}
	.name_wb a{margin-right:10px;}
	.line_balloon{background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_balloon.png) right repeat-y;}
	.line_balloondown{background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_balloon.png) bottom repeat-x;}
		.themebox_rlfx{background:#fff; border:1px solid #cbcbcb; border-left:0; padding:5px 5px; width:223px;}
.box_jgz{width:48px; border:1px solid #fed0da; text-align:center;}
	.box_jgz a:hover{text-decoration:none;}
.box_headnews{padding-bottom:7px;}
/*瑞丽深度foc*/
#rlsdfoc{width:290px; height:441px; margin-left:7px; border:1px solid #e2e2e2; padding:1px;}
	#rlsdcon{width:290px; height:406px; border-bottom:2px solid #d13355;}
		#rlsdcon dl{width:290px; height:406px;}
	#rlsdtag{background:#000; height:33px; font-style:italic; font-size:14px; font-family:"Times New Roman", Times, serif; font-weight:bold; padding-left:89px; line-height:32px;}
		#rlsdtag li{width:8px; padding:0 3px; float:left; color:#fff; cursor:pointer;}
		#rlsdtag li.cur{color:#ec1b53;}
/*热门排行榜top*/
.rltopcon{background:url(http://image.rayliimg.cn/news/2012/rayli/images/num_top.png) 12px center no-repeat; padding-left:33px;}
.rlphonetag{bottom:5px; right:25px;}
/*focusall*/
.focusall{width:290px; height:350px;}
	.focuscon{width:290px; height:350px;}
		.focuscon dl{position:absolute; width:290px; height:350px;}
	.focustag{position:absolute; left:240px; bottom:36px; width:52px;}
		.focustag li{float:left; display:inline; margin-left:1px; width:16px; height:16px; text-align:center; line-height:16px; cursor:pointer; color:#fff; background:#2f2c27;}
		.focustag li.cur{background:#d13355;}
/*==============================middle==================================*/
.adv_firstscreen{margin-top:8px;}
.adv_firstscreen li{float:left; display:inline; margin-left:9px; width:138px;}

/*栏目新闻*/
.box_channelnews{}
	.img_channelnews{width:104px; height:134px; float:left;}
	.box_channelnews .list_p{margin-left:4px;}
/*视频foc*/
#videocon{}
	.btn_playvideo{left:121px; top:56px;}
#videotag{padding-left:109px; margin-top:9px; height:18px;}
	#videotag li{width:9px; height:9px; background:url(http://image.rayliimg.cn/news/2012/rayli/images/point_white.png) center no-repeat; float:left; display:inline; overflow:hidden; text-indent:-9999px; cursor:pointer; margin-left:8px;}
	#videotag li.cur{background:url(http://image.rayliimg.cn/news/2012/rayli/images/point_red.png) center no-repeat;}
.txt_videofoc{padding-left:5px;}
	.txt_videofoc dl{float:left; display:inline; margin-left:10px; width:140px;}
.title_channel{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_bigtitle.png) repeat-x; width:940px; margin:0 auto; height:73px;}
/*潮人街拍*/
#crjptag{float:left; display:inline; width:24px;}
	#crjptag li{line-height:18px; padding:4px 0 4px 6px; width:18px; background:#000; color:#ccc; margin-bottom:1px; cursor:pointer;}
	#crjptag li.cur{background:#d13355; color:#fff;}
#crjpcon{float:left; position:relative; width:262px;}
	#crjpcon dl{position:absolute; width:262px;}
		.icon_best{position:absolute; left:75px; top:140px;}
		.btn_crjp{position:absolute; width:110px; height:24px; line-height:24px; left:24px; text-align:center; top:170px; left:148px; background:#979797; border:1px solid #8b8b8b; font-family:Arial;}
.box_score{color:#ce2246; line-height:20px; border:1px solid #fed0da; padding:0 6px;}
.btn_cpj{background:#e93f67; line-height:20px; border:1px solid #ce2d53; padding:0 7px;}
.icon_award{position:absolute; top:0; right:4px;}
.box_bmmt{width:58px; border:1px solid #fed0da; text-align:center;}
	.box_bmmt a:hover{text-decoration:none;}
.box_mtvideo{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_modelvideo.png) no-repeat; width:150px; height:90px; padding:12px 2px 13px;}

/*=================================rightbar=======================*/
.balloon_cpfl{background:url(http://image.rayliimg.cn/news/2012/rayli/images/balloon_cpfl.png) no-repeat; text-align:center; width:36px; height:23px; line-height:23px; padding-right:4px;}
.balloon2_cpfl{background:url(http://image.rayliimg.cn/news/2012/rayli/images/balloon2_cpfl.png) no-repeat; text-align:center; width:60px; height:23px; line-height:23px; padding-right:4px;}
.titleline_fourr{background-image:url(http://image.rayliimg.cn/news/2012/rayli/images/titleline_four_right.png); margin-top:0;}
.titleline_fiver{background-image:url(http://image.rayliimg.cn/news/2012/rayli/images/titleline_five_right.png); margin-top:0;}
/*search*/
.search{}
	.txt_search{float:left; width:220px; height:22px; border:1px solid #e2e2e2; border-right:0; line-height:22px; color:#bababa; padding-left:6px;}
	.btn_search{float:left; width:26px; height:24px; background:url(http://image.rayliimg.cn/news/2012/rayli/images/btn_search.png) no-repeat; border:0; cursor:pointer;}
.adv_firstscreenr{}
	.adv_firstscreenr dl{float:left; width:127px;}
/*免费试用*/
#trytab{border:2px solid #e2e2e2; width:243px; margin-left:11px; margin-top:11px;}
	#trytag{height:107px;}
		#trytag li{float:left; width:75px; border:3px solid #e2e2e2; border-bottom:0; background:#e2e2e2; height:107px; cursor:pointer;}
			#trytag li p{text-align:center; line-height:32px; height:32px; margin:0;}
		#trytag li.cur{background:#f4f4f4; font-weight:bold;}
	#trycon{width:225px; height:85px; border:3px solid #e2e2e2; border-top:0; line-height:20px; padding-left:12px;}
		#trycon dl{width:225px; height:85px;}
		.btn_sqsy{position:absolute; width:63px; height:20px; background:#979797; border:1px solid #8b8b8b; line-height:20px; text-align:center; bottom:10px; right:10px;}
		.btn_bmrx{width:86px; height:20px; background:#979797; border:1px solid #8b8b8b; line-height:20px; text-align:center;}
		.btn_vote{width:48px; height:20px; background:#979797; border:1px solid #8b8b8b; line-height:20px; text-align:center;}
.star_rayli{margin-left:5px; height:101px;}
	.star_rayli dl{width:79px; float:left; display:inline; margin-left:6px; text-align:center; line-height:22px;}
.zbdctag{line-height:27px; height:37px; overflow:hidden;}
	.zbdctag li{height:27px; float:left; text-align:center; color:#303030; background:#cfcfcf; cursor:pointer;}
	.zbdctag li.border1{background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_topbg.png) left center no-repeat #cfcfcf;}
	.zbdctag li.cur{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_rlfxcur.png) center top no-repeat; height:32px; font-weight:bold; color:#fff;}
.zbdctag2{line-height:27px; height:32px; overflow:hidden;}
	.zbdctag2 li{height:27px; float:left; text-align:center; color:#303030; background:#cfcfcf; cursor:pointer;}
	.zbdctag2 li.border1{background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_topbg.png) left center no-repeat #cfcfcf;}
	.zbdctag2 li.cur{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_rlfxcur.png) center top no-repeat; height:32px; font-weight:bold; color:#fff;}
.balloon_pk{position:absolute; top:-44px; left:100px;}
.zbk_fl{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_luxuryselect.png) no-repeat; color:#b2b2b2; cursor:pointer; height:25px; margin-top:6px; padding-left:8px; width:242px; line-height:24px;}
.select_luxury_cont{position:absolute; left:0; width:238px; border:1px solid #d5d5d5; border-top:0; background:#fff; z-index:1; display:block; padding:11px 0 0 10px; height:193px; overflow-x:hidden; overflow-y:scroll;}
.select_luxury_cont li { margin-bottom:12px; float:left; line-height:18px;}
#select_1_cont{top:24px;}
#select_2_cont{top:54px;}
#select_3_cont{top:84px;}

#select_4_cont{top:24px;}
#select_5_cont{top:54px;}
#select_6_cont{top:84px;}

.word {float:left; background:url(http://image.rayliimg.cn/news/2012/rayli/images/line_nav1.png) right center no-repeat; padding-right:10px; margin-right:10px;}
.word_list { float:left; width:160px;}
.word_list p { margin-bottom:7px;}

.pos_model{right:-11px; top:-13px; z-index:}
.pos_vote{right:15px; top:150px;}
.btn_view{background:url(http://image.rayliimg.cn/news/2012/rayli/images/btn_view.png) no-repeat; width:53px; height:21px; border:0; cursor:pointer;}

.flag_zz{top:238px; left:-8px;}
.txtpos_zz{top:245px; left:0;}
.btn_zz{width:58px; height:20px; line-height:20px; text-align:center; background:#dadada; border:1px solid #d1d1d1;}

.img_app{background:url(http://image.rayliimg.cn/news/2012/rayli/images/bg_apppic.png) no-repeat; padding:25px 22px 25px 21px; width:166px; height:221px;}
	.pos_app{left:21px; bottom:25px; width:166px;}
.zindex111{z-index:111;}
/*照片墙*/
.rdtjlhk{background:url(http://image.rayliimg.cn/news/2012/rayli/images/zhaopianqiangbg01.gif) no-repeat 77px 3px; width:270px; height:48px; clear:both}
.rdtjleftlh1{font-family:'微软雅黑'; font-size:16px; padding:16px 0 0 11px; float:left}
.rdtjrightlh1{padding:21px 8px 0 0; color:#626262; float:right}
.zpqlh{width:243px; margin:0 auto; clear:both; border-right:#e4e4e4 1px solid; border-bottom:#e4e4e4 1px solid; position:relative; clear:both}
.zpqimglh{ border-top:#e4e4e4 1px solid; border-left:#e4e4e4 1px solid; width:80px; height:80px; float:left; background:#fff; cursor:pointer}
.zpqimglh img{padding:1px; filter:alpha(opacity=70); opacity:0.7;}
.zpqhong{border:#eb2f61 2px solid; width:78px; height:78px; position:absolute; display:none; filter:alpha(opacity=100); opacity:1; z-index:3444;}
.zpqhtit{position:absolute;width:81px; display:none; filter:alpha(opacity=100); opacity:1; z-index:5555; background:#eb2f61}
.zpqhtit table td{ font-size:14px; font-family:Arial, Helvetica, sans-serif,"微软雅黑"; line-height:20px; color:#fff;}
a.zqpacss{width:78px; height:78px; display:block}	
/*社区照片*/
.photo_sq{}
	.photo_sq img{filter:alpha(opacity=50); opacity:0.5;}
.photo_sq_on{background:#ee3164;}
.photo_sq_on img{filter:alpha(opacity=100); opacity:1;}
.photo_sq_on a,.photo_sq_on a:hover{color:#fff;}

a:hover{color:#c6002a;}

.block{display:block;}
.visionphoto a span{display:none;}
.visionphoto a:hover{color:#fff;}
.visionphoto a:hover span{display:block;}

.white a:hover{text-decoration:underline; color:#fff;}
/*0904*/
.cenmar01{width:200px; margin-left:6px; _display:inline;}
/*0904*/
.h140{height:140px;}

/*09-19*/
#rltopcon{padding-top:3px;}
#rltopcon p{white-space:nowrap; word-wrap:normal; word-break:keep-all;}
.nav_bottom a,.nav_bottom a:hover{color:#fff;}
.cenmar01{width:210px; margin-left:6px; _display:inline; overflow:hidden;}

/*09-24*/
.h60{height:60px;}
/*0926修改*/
	.txt_search_2{float:left; width:90px; height:22px; border:1px solid #e2e2e2; border-right:0; line-height:22px; color:#bababa; padding-left:6px;}


