@charset"utf-8";

#Content { width:1003px; margin:0 auto}

#main2 { clear:both; float:left; width:603px; height:30px; margin-top:5px; overflow:hidden}
#main2 ul { width:603px; height:30px; float:left; display:block;}
#main2 li { float:left; line-height:30px; font-size:13px; color:#333; text-align:center}
#main2 li b { font-weight:100; color:#CF111F}
#main2 li a { display:inline-block; padding:0 10px; color:#333}
#main2 #notice { width:603px; color:#333;}
#main2 #notice li { width:200px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; text-align:left}
#fastnews { float:right; width:260px; height:30px; overflow:hidden; background:url(../images/icon/info.gif) no-repeat 0 9px; padding-left:30px; margin-top:5px; }
#fastnews ul { width:260px; }
#fastnews li { width:260px; text-align:left; border:0; line-height:30px; }
#fastnews li a:hover { background: none; text-decoration:underline; color:#CF111F}
